[2021-10-05 13:19] elefeint commented on #640
Thank you!

[2021-10-05 14:22] meltsufin commented on #641
The default comes from the Java Pub/Sub client library that we build on. I believe their default is optimized for high throughput where processing of each individual message is very quick. As you said, there's always an option to configure the `max-outstanding-element-count` to match the behavior of your application.
I think it's best to provide feedback on the default to the owners of the Pub/Sub

[2021-10-05 15:42] ikeyat opened #642 "SpannerOptionsCustomizer is not called when using Spanner Emulator"
**Describe the bug**
An implementation of `SpannerOptionsCustomizer` is called by `GcpSpannerAutoConfiguration.java` as seen at #489.
But not called by `GcpSpannerEmulatorAutoConfiguration`.
So I could not apply options such as timeout into Spanner Emulator.
Is this bug?

https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/v2.0.4/spring-cloud-gcp-autoconfigure/src/main/java/com/google/clo

[2021-10-05 15:45] elefeint commented on #642
@ikeyat
It's not something we expected people to use, but now it's an official feature request! We would happily accept a PR for this type of thing.

[2021-10-07 09:36] michaelmok2021 opened #648 "pubSubHeathContributor timeout exception on SpringBoot 2.5.5 start up"
We are running on JDK 11 on Ubuntu and the app is a SpringBoot jar.

[code]

[code]

[2021-10-07 14:01] elefeint commented on #648
@michaelmok2021 Like @suztomo asked, is this a regression? Did this work for you in the past with different versions / on different enviornments? Does this only happen when the volume of pent-up messages is high?

Additionally, try increasing `spring.cloud.gcp.pubsub.health.timeout-millis` value -- the default is 2 seconds ([details in docs](https://googlecloudplatform.github.io/spring-cloud-gcp/2

[2021-10-08 04:19] michaelmok2021 commented on #648
@elefeint , hmm we stop the appl and start the app again on Ubuntu Server 20.0.4, Open JDK 11 and it works. Still keen to figure out the cause. Looks like a timing, race condition issue....

[2021-10-08 12:12] jgordijn opened #649 "PubSubReactiveFactory keeps messages in flight on shutdown"
Current implementation of the `PubSubReactiveFactory` does a `pullAsync` in the `backpressurePull`. Problem is that this call is async and when the pipeline is shutdown there may still be a call in flight. When this call completes and the callback notices that the `sink.isCancelled`, the payload is ignored. This leads to messages hitting the deadline of the ack period when restarting (scaling down

[2021-10-08 13:23] elefeint commented on #648
@michaelmok2021 Definitely try setting `spring.cloud.gcp.pubsub.health.timeout-millis` higher though -- to 4-5 seconds, and see if the issue can still be reproduced in the failed scenario.

[2021-10-08 13:34] elefeint commented on #649
That's an interesting scenario. On a coarse level, everything works as expected in each layer -- Cloud Pub/Sub re-delivers the messages after ackDeadline expires. But for your requirements it creates an inconvenience.

It would definitely make sense to `nack()` all pubsub messages that come back from `pullAsync()` if `sink.isCancelled()` is detected (which it should once `takeUntil` detects the ex

[2021-10-08 17:36] zhumin8 opened #650 "Enhancement to spring data spanner JSON support - allow setting changes on Gson object"
This is a follow up to #635. To allow users the flexibility to configure on Gson object used in JSON conversion, we should make it a bean in auto-configuration, and inject in where it's needed in write and read.

_Originally discussed in https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/635#discussion_r725072095_

[2021-10-08 17:43] zhumin8 opened #651 "support for ARRAY<JSON> in spring data spanner"
As an enhancement and followup to spring data spanner JSON support - #635, spring data spanner should also support Array of JSON type fields.
* Note: also handle case where List<T> of simple types get annotated with JSON.

[2021-10-09 07:52] jgordijn commented on #649
Yes, that is exactly what I was thinking about. It is a best effort and I think in our case we should also lower the ack deadline, but nacking the unnecessary frame seems like a nice improvement.

[2021-10-12 12:53] bokuwakuma opened #652 "Why spring.cloud.gcp.spanner.enabled is not documented?"
Is There any reason this configuration is unavailable?

In my case, I found it in the source code and set `spring.cloud.gcp.spanner=false`, which helped me a lot to define other TransactionManager.

I found `spring.cloud.gcp.datastore.enabled` is documented.

[2021-10-13 09:00] xetra11 opened #653 "Misleading Guides. Missing function "setOutputChannel" in class "PubSubInboundChannelAdapter""
**Describe the bug**
I am following this guide: https://spring.io/guides/gs/messaging-gcp-pubsub/ and many others. The setup for the `PubSubInbounceChannelAdapter` is clear.

[code]

Is what I am supposed to do. However I can't locate the method/function in the current version.
Here is my gradle dependency:

[code]

Here is the class that seems to miss the mentioned `setOutputChannel` method: http

[2021-10-13 09:05] #653 closed, assigned to nobody

[2021-10-13 09:06] xetra11 commented on #653
Bringing...
[code]

...in solved the issue. Was also mentioned in the guides

[2021-10-13 14:58] elefeint opened #654 "Remove @author tags from source code"
They get stale quickly, and google style does not recommend those.

[2021-10-14 16:28] elefeint commented on #593
Fixed by #635.

[2021-10-15 13:54] mpeddada1 opened #655 "Provide user-agent headers for Pub/Sub Spring Integration and Cloud Stream support"
PubSub currently creates a single instance of the [UserAgentHeaderProvider](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/19c1034428d676a0a5d55abbee8181ae104492b1/spring-cloud-gcp-autoconfigure/src/main/java/com/google/cloud/spring/autoconfigure/pubsub/GcpPubSubAutoConfiguration.java#L104) and sets it in DefaultSubscriberFactory.

For Spring Integration, we will need to create anoth

[2021-10-15 17:27] zhumin8 opened #656 "Implement `getPersistentEntityTypeInformation()` and `getAssociationTargetTypeInformation()` in `SpannerCompositeKeyProperty`"
spring-data-commons-2.6.0-M3 [Consolidate names of methods that provide access to TypeInformation and Class on PersistentProperty](https://github.com/spring-projects/spring-data-commons/commit/e565c11dccda9f53cc4435e261d0c1ac62cfe9f1)

Need to implement additional methods in `SpannerCompositeKeyProperty` to be compatible with Spring Boot 2.6.

Error message:
[code]

This issue is derived from #599

[2021-10-15 17:43] zhumin8 opened #657 "Security Firebase: NoSuchMethodError: 'java.util.Map com.nimbusds.jose.Header.toJSONObject()'"
**Describe the bug**
Upgrading to Spring Boot 2.6(#599), running `FirebaseJwtTokenDecoder.decode` leads to `NoSuchMethodError: 'java.util.Map com.nimbusds.jose.Header.toJSONObject()'`

This breaks a couple of test in `FirebaseJwtTokenDecoderTests.java`
Error trace:
[code]
Suspect to be dependency version incompatibility related to Nimbus. Needs further investigation.

[2021-10-15 17:54] zhumin8 opened #658 "Autoconfigure non-compatible with Spring Boot 2.6.0-M3: NoSuchMethodError in `PubSubConsumerRequestSetterTest` and `PubSubProducerRequestSetterTest`"
**Describe the bug**
Testing with Spring Boot 2.6.0-M3 (#599), `PubSubConsumerRequestSetterTest` and `PubSubProducerRequestSetterTest` breaks with NoSuchMethodErrors.
example of error:
[code]
Likely brave dependency version needs upgrade. More investigation needed.

[2021-10-15 19:11] elefeint commented on #657
Does spring-cloud-gcp-security-iap have a similar issue? They both use the same spring-security infrastructure.

[2021-10-15 19:28] elefeint commented on #658
Or we are bringing in an old version of assertJ in our project.

[2021-10-18 09:06] sebarthel89 opened #660 "[Spring Data Cloud Spanner] Add configuration to favour mutations or dml statements"
# Spring data cloud spanner: add configuration to favour mutations or dml statements

**Is your feature request related to a problem? Please describe.**

Like stated in the spanner documenation (https://cloud.google.com/spanner/docs/dml-versus-mutations), it should avoided to uses mutations and dml statements in the same transaction. There is some behavior in Spring Data Cloud Spanner that

- muta

[2021-10-18 18:39] esmuellert opened #661 "[Spring Cloud Datastore] Can't read Blob type into byte[] using Repository and Entity"
**Describe the bug**
Please provide details of the problem, including the version of Spring Cloud that you
are using.

[code]
I have an entity of Admin:

[code]
And the following AdminRepository:

[code]

At first, I tried to save the entity to Datastore using `adminRepository.save(admin)`, it was fine and a record was generated in the database. The `byte[]` type was automatically converted to `Bl

[2021-10-20 13:41] elefeint commented on #540
Please reopen if this is still an issue.

[2021-10-21 07:37] kamalhm commented on #606
my bad, it works fine if I use full path, not sure why I couldn't get `classpath` to work

[2021-10-25 16:29] elefeint opened #670 "Allow overriding Pub/Sub retryableCodes in pull settings"
Pub/Sub client library by default retries  UNKNOWN, ABORTED and UNAVAILABLE gRPC codes. For certain usecases, also retrying INTERNAL code is useful.

When creating subscriber stub, we should allow property-based overriding of retryable gRPC codes. Client library defaults should apply if custom codes are not provided.

Example of setting retryiable codes through the client library:
[code]

[2021-10-25 17:02] mpeddada1 opened #671 "Follow-up: Register rest of the subscriber settings as beans in GcpPubSubAutoconfiguration"
Similar to what was done in #638, we should register the remaining subscriber settings as beans:

- [x] retry settings
- [x] flow control settings
- [x] executor provider

[2021-10-25 20:54] elefeint opened #673 "Improve documentation on error handling with reactive Pub/Sub"
The [current documentation](https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.4/reference/html/index.html#reactive-stream-subscriber) does not make it clear what happens when a poll operation fails.

We should add pointers back to client library/GAX retries, and show an example of high-level reactive retry (which will recreate the scheduler that polls for messages).

[2021-10-26 08:15] mateuszsokolski opened #674 "Storage emulator support"
Firestore has property `spring.cloud.gcp.firestore.emulator.enabled`. Is there a way to configure spring app, that could let it know, to not use `GOOGLE_APPLICATION_CREDENTIALS` path variable, but connect to storage emulator on localhost?

[2021-10-28 13:36] elefeint opened #679 "Add logging support for log4j2"
`spring-cloud-gcp-logging` currently only provides a Logback layout for writing to Stackdriver. We should also support log4j2, possibly through [JSON template layout](https://logging.apache.org/log4j/2.x/manual/json-template-layout.html).

Please upvote this issue to express interest in the feature.

[2021-10-28 15:06] elefeint opened #680 "Clarify Spring Data Spanner is not a JPA implementation in refdoc"
Our refdoc describes *how* to use Spring Data Spanner integration, but not why one would choose the custom Spring Data implementation in this repo vs, say, Spring Data JPA with Hibernate Spanner dialect.

Add an introductory paragraph explaining this and linking to [ORM comparison page](https://cloud.google.com/spanner/docs/api-libraries-overview) and @dzou 's upcoming framework comparison guide.

[2021-10-28 17:03] #670 closed, assigned to elefeint

[2021-10-29 18:51] meltsufin commented on #433
@limkinZero Are you able to use the setting in `application.yaml`? `CloudSqlEnvironmentPostProcessor` is not part of the bootstrap phase.

[2021-10-30 00:22] limkinZero commented on #433
I couldn't. I tried configue the property in the application.properties
with the same error.

El vie., 29 de octubre de 2021 20:51, Mike Eltsufin <
***@***.***> escribió:

[2021-10-30 03:06] meltsufin commented on #433
@limkinZero That's interesting. You might have something else going on in your application configuration. Would you be able to provide a reproducible example of this issue?

[2021-10-30 08:05] limkinZero commented on #433
Mmm, you can check this branch:
https://gitlab.com/aweframework/awe/-/tree/380-configure-cloud-sql-for-awe-boot-project-on-the-cloud

but you have to add the dependency to pom.xml file in awe-boot project
（awe-test module）and configure the bootstrap.yaml to disable gpc.

El sáb., 30 de octubre de 2021 5:07, Mike Eltsufin ***@***.***>
escribió:

[2021-11-01 17:12] meltsufin commented on #433
@limkinZero Would you be able to make the necessary changes in a fork and provide exact instructions on how to reproduce the issue?

[2021-11-08 19:14] ddixit14 commented on #674
Hi @mateuszsokolski, currently the storage emulator (which is a part of the firebase emulator suite) is not supported by non-firebase storage clients.
For further reference, please have a look at https://github.com/googleapis/java-storage/issues/875, https://github.com/googleapis/nodejs-storage/issues/1473 and https://github.com/firebase/firebase-tools/issues/3508

[2021-11-08 19:14] #674 closed

[2021-11-08 21:47] mirehasfun opened #687 "NullPointerException in StackdriverJsonLayout"
**Describe the bug**
Hi, I think i stumbled over a NullPointerException happening in StackdriverJsonLayout's `formatMessage` method, when the logged message passed is `null`.

This happens in my case, when my catch-all exception handler processes an instance of a `NullPointerException`. The logging code looks like this:
[code]

A solution would be, to initialize the StringBuilder without a constru

[2021-11-08 23:39] #603 closed

[2021-11-09 15:59] elefeint opened #688 "Migrate tests from JUnit4 to JUnit5"
JUnit5 adoption was slow at first, but at this point there is no reason not to upgrade. R2DBC repo is already on JUnit5.

- [ ] Run all current unit tests (mvn test) and note how many were ran vs skipped.
- [ ] Replace test dependency on junit with one on JUnit5 (Jupiter)
- [ ] If you run the tests at this point, 0 tests will be run! Introduce backwards compatibility for JUnit4 tests (hint: pom.xm

[2021-11-09 19:26] suztomo commented on #687
Thank you for reporting the issue. Would you share the stacktrace you observed? It would tell which line of the code is having the problem.

Further, it seems that you know where/how to fix it. Would you be willing to create a pull request?

[2021-11-09 20:41] #640 closed

[2021-11-10 03:23] fireboy-will opened #689 "Support Google Cloud Storage Based Distributed Lock"
Google Cloud Storage (GCS) offers [strong consistency](https://cloud.google.com/storage/docs/consistency) for its operations, which could be used as the base for the atomic Compare And Set computation of a distributed lock.

One can only obtain the lock by successfully creating an object in a GCS bucket provided the object does not exist at the time of creation.  Therefore, when multiple processes

[2021-11-10 13:42] elefeint commented on #689
Thank you for the suggestion -- we'll discuss internally whether this is something that makes sense for us to support.

In the meantime, here is an [exploratory blog post](https://cloud.google.com/blog/topics/developers-practitioners/implementing-leader-election-google-cloud-storage) on the subject.

[2021-11-10 14:39] ddixit14 commented on #661
Hi @esmuellert, if you need to store a byte[] array in Datastore, you need to store them as either short byte string or long byte string. Please refer to the following links as to how you can convert your byte[] array to these two data types :

1. com.google.appengine.api.datastore.ShortBlob : short byte string, < 500 bytes : [Short Blob Conversion](https://cloud.google.com/appengine/docs/standard

[2021-11-10 14:47] #588 closed

[2021-11-10 14:47] ddixit14 commented on #588
Closing this issue.

[2021-11-10 14:50] elefeint commented on #661
Right, this can be done manually, but byte array to blob and back should be a conversion that we [support automatically](https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.4/reference/html/index.html#supported-types-2).
Re-opening for additional investigation.

[2021-11-11 02:57] elefeint opened #692 "Spring Boot 2.6: QueryByExampleExecutor has a new findBy() method"
RC1 introduced https://github.com/spring-projects/spring-data-commons/pull/2421

Release notes: https://spring.io/blog/2021/10/18/spring-data-2021-1-enters-rc-phase

This affects `SimpleDatastoreRepository`

[2021-11-11 03:04] elefeint opened #693 "Spring Boot 2.6: mockito upgraded to 4.0"
Deprecated method removal:
* `verifyZeroInteractions`

[2021-11-11 03:29] elefeint commented on #656
https://github.com/spring-projects/spring-data-commons/pull/2410

In case of Spanner, when column is known not to be an association, `getAssociationTargetTypeInformation` should simply return null.
`FirestorePersistentPropertyImpl` and `AnnotationBasedPersistentProperty` not affected because it extends `AnnotationBasedPersistentProperty`, which supplies an implementation of these. We should look a

[2021-11-11 10:36] mirehasfun commented on #687
The problem is, the stacktrace gets swallowed, so I cannot provide one. However, I'll gladly provide a pull request.

[2021-11-11 18:14] elefeint commented on #689
I will leave this issue open for now, so we can gauge community interest.

[2021-11-11 18:35] #687 closed

[2021-11-12 05:36] guycall opened #695 "Difference in behaviour between performReadWriteTransaction and @Transactional"
I am debugging a Production issue we see with Spanner and the use of `@Transactional`. Our app may throw an exception during a transaction and not retry. This can occur at anytime, but we especially noticed it when our app instances run longer than 28 days. I assume that relates to [Spanner deleting sessions](https://cloud.google.com/spanner/docs/sessions) that are more than 28 days old.

Where ou

[2021-11-12 16:05] meltsufin commented on #695
@guycall Thank you for a detailed issue description and steps to reproduce.

We'll have to investigate this a bit.

@olavloite Are we missing anything obvious here in regards to how Spanner client library works?

[2021-11-12 17:01] elefeint commented on #695
I think that's probably it -- client library's transaction manager auto-retries, but our custom transaction manager does not.
The question is, what behavior we'd like -- we can either update SpannerTransactionManager to retry, or we can document this behavior Really Well.

[2021-11-12 17:21] olavloite commented on #695
To prevent any confusion:
* The client library has a `TransactionManager` for read/write transactions. This will __not__ automatically retry an aborted transaction. Instead the client application is [responsible for handling retries](https://github.com/googleapis/java-spanner/blob/744dd64c0d079052f0d2bf42185bdee941729573/google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.ja

[2021-11-13 08:43] itsliang commented on #648
[code]

Worked on my Debian 10 Linux, JDK 11, `spring.cloud.gcp.pubsub.health.timeout-millis=2000`.

Failed on my macOS 10.15.7, JDK 11, `spring.cloud.gcp.pubsub.health.timeout-millis=5000`.

Worked on my macOS 10.15.7, JDK 11, `spring.cloud.gcp.pubsub.health.timeout-millis=10000`.

[2021-11-14 21:07] mvpzone commented on #563
Proposed [PR #698](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/698) to address this issue.

[2021-11-14 21:41] mvpzone opened #699 "Add support for Cloud DLP integration along with auto configure and starter support"
**Proposed feature request related to an enhancement.**
Spring Cloud GCP currently does not have native auto-configuration and starter integration with [GCP DLP](https://cloud.google.com/dlp). Cloud DLP offers [java API & client libraries](https://cloud.google.com/dlp/docs/libraries#client-libraries-install-java).

**Description of the problem**
Use of DLP with spring boot is not to the same level

[2021-11-15 17:16] mvpzone commented on #699
The initial contribution and validation is happening on this [repo](https://github.com/mvpzone/spring-cloud-gcp-dlp). When the info type versioning makes it to the API surface a PR will be submitted.

[2021-11-15 22:10] elefeint opened #702 "Stop stackdriver unit tests from doing a real healthcheck"
Running `StackdriverTraceAutoConfigurationTests` leaks environment by trying to actually do a health check.

Figure out how to turn off health check or replace with no-op.

[code]

or

[code]

[2021-11-16 12:02] olaf-2 commented on #205
That would be great. Currently I use an authorized static outgoing IP address for my Cloud Run services as a workaround.

[2021-11-16 14:10] elefeint commented on #563
Fixed in #698. Thanks, @mvpzone !

[2021-11-16 15:36] elefeint commented on #205
@olaf-2 Have you tried using https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory ? This issue is to simplify setting it up, but the mechanism is there already.

[2021-11-16 15:56] olaf-2 commented on #205
Yes, did not work. Now I retried with this little :gcp: in the URL I had overlooked and it works. (⌒_⌒;)
Thanks.

[2021-11-16 20:13] zhumin8 opened #707 "`PubSubMessageChannelBinderEmulatorIntegrationTests` ignoring `-Dit.pubsub-emulator` settings"
`PubSubMessageChannelBinderEmulatorIntegrationTests` ignoring `-Dit.pubsub-emulator` settings and failing this test.
This results in integration tests for _all modules_ running this test.

Suspect Cause: mix use of junit4 and 5.
the abstract test class `AbstractBinderTests` that it extends from spring-cloud-stream-binder uses junit 5 now.

Tasks:
- [x] fix junit4/5 mis-match and `-Dit.pubsub-emula

[2021-11-16 22:21] zhumin8 commented on #657
This was original tested against the `Spring Boot 2.6.0 Milestone 2` release. Now that we are on `spring-boot:2.6.0-RC1` in 3.x branch, this error is gone.

[2021-11-16 22:21] #657 closed

[2021-11-16 22:52] zhumin8 commented on #658
Temp fix applied with #705

[2021-11-16 22:52] #658 closed

[2021-11-17 02:25] elefeint opened #710 "Remove custom PubSubEmulator rule; replace with testcontainers"
PubSubEmulator is a JUnit4 rule that relies too much on the linux-sh filesystem (so would not even work on Windows) and on process manipulation. It was the best I could do at the time, but it's not worth supporting -- thanks to @eddumelendez there is now [Testcontainers support](https://github.com/testcontainers/testcontainers-java/blob/master/modules/gcloud/src/main/java/org/testcontainers/contai

[2021-11-17 13:31] YashJainSC commented on #579
@elefeint Is there any documentation on how to use declarative transactions for spanner ? Do we need to define bean for spannerTransactionManager or is it created automatically ?

[2021-11-17 15:26] mpeddada1 opened #711 "Support subscription-specific configuration for maxAcknowledgementThreads"
This property will need to be handled slightly differently than the other properties as it is set directly in`PubSubSubscriberTemplate` instead of `DefaultSubscriberFactory`.

[2021-11-17 16:34] #711 closed, assigned to mpeddada1

[2021-11-17 18:09] elefeint commented on #648
@itsliang This is also on startup with "Validation of health indicator failed" exception, right? Not just during regular operation?

[2021-11-17 19:26] chanseokoh commented on #205
@elefeint with https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory, I guess then the issue no longer stands?

[2021-11-17 19:35] elefeint commented on #205
It does in that we can make the correct `ConnectionFactory` creation automatic given a dependency on R2DBC and socket factory.
I'll update the issue title to reflect that.

[2021-11-18 15:43] elefeint commented on #661
Looks like an underimplemented feature. Validated by modifying `DefaultDatastoreEntityConverterTests.readTest()` to add `.set("byteArrayField", Blob.copyFrom(bytes))` to the Datastore entity.

[2021-11-18 15:56] #671 closed

[2021-11-18 19:44] zhumin8 commented on #693
Already done in [commit](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/commit/f5ce09d2679c5d3307d19a1cf46fd308a4681b9e).

[2021-11-18 19:44] #693 closed

[2021-11-19 17:38] mpeddada1 opened #727 "Support per-topic configurations for Publisher settings."
Currently, Publisher settings can only be set on a global basis with the help of `spring.cloud.gcp.pubsub.publisher.*`.

This issue is to add per-topic configurations for Publisher settings, similar to how per-subscription configurations are supported for Subscriber settings (#418).

[2021-11-19 20:01] mpeddada1 commented on #418
Per-subscription configuration has been implemented. Follow-up issue to include per-topic configuration has been created at #727.

[2021-11-19 20:01] #418 closed

[2021-11-22 15:08] elefeint opened #731 "In integration tests, replace our current use of `assumeThat` with JUnit5 `ExecutionCondition`"
All of our integration tests are gated on properties of the form `it.integration-name`, for example:

[code]

Instead of this, all tests should use JUnit5's [`@EnabledIfSystemProperty` annotation](https://junit.org/junit5/docs/5.2.0/api/org/junit/jupiter/api/condition/EnabledIfSystemProperty.html).

Related issue:  #688

[2021-11-22 15:08] elefeint commented on #731
@ddixit14 This is the tracking issue for when you get to integration tests.

[2021-11-22 15:17] #661 closed

[2021-11-22 15:31] meltsufin commented on #731
@elefeint Have you looked at the new `@Tag` annotation? It might be another alternative for grouping tests and selecting which run.
See: https://junit.org/junit5/docs/current/user-guide/#writing-tests-tagging-and-filtering

[2021-11-22 15:37] elefeint commented on #731
We can do this, too -- it will just require a change to the current GitHub Actions configuration, since it passes `it.whatevs` properties right now.

@ddixit14 you get to compare pros and cons of Junit extensions with`ExecutionCondition` vs tags, and write up your findings to present at one of our Monday show and tells.

[2021-11-22 15:42] ddixit14 commented on #731
Sure, working on it.

On Mon, Nov 22, 2021 at 9:07 PM Elena Felder ***@***.***>
wrote:

[2021-11-22 20:15] #707 closed

[2021-11-22 22:08] elefeint commented on #614
@AcridFantasy Two months later... Apologies for not getting to this sooner.

There are two issues at hand -- how to make your application behave better, and how to stop uncontrollable spawning of Futures.

1) For your immediate (well, probably not immediate anymore) need, the solution is to set smaller timeout values. The timeouts in your example are all set to be 1 hour, while the polling is set

[2021-11-22 22:22] dzou commented on #695
@elefeint @meltsufin -- Do you feel this behavior is working-as-intended? Or are there plans to also implement retries for `@Transactional`-marked methods?

[2021-11-22 22:24] dzou commented on #699
Thank you for your contribution. We're still in the process of discussing this internally regarding how to contribute and maintain this module; I will share any updates as they come.

[2021-11-23 04:23] bowenjin opened #737 "Support for foreign key/joins in Spring Data Cloud Spanner"
**Is your feature request related to a problem? Please describe.**
The [documentation](https://cloud.spring.io/spring-cloud-gcp/1.1.x/multi/multi__spring_data_cloud_spanner.html) for Spring Data for Cloud Spanner claims that foreign key constraints are not natively supported in cloud spanner. Yet according to [this documentation](https://cloud.google.com/spanner/docs/foreign-keys/overview#how-to-d

[2021-11-23 13:10] AcridFantasy commented on #614
@elefeint thanks for the investigation and detailed report.

No worries, there is no urgency. It's only reproducible on our QA env.

From our side, there is no more questions, so this issue can be closed.

Thanks! :)

[2021-11-23 13:10] #614 closed

[2021-11-23 14:51] elefeint commented on #737
Support for full JPA specification is out of scope for the Spring Data Spanner module, but with Spanner introducing support for general-purpose foreign keys in March 2020, it may make sense to support a subset such as `OneToOne` and `OneToMany`.

I will leave this feature request open to assess community interest.

Current workarounds:
* As an alternative project to Spring Data Spanner, we also ha

[2021-11-23 14:55] meltsufin commented on #737
You're absolutely right in that our documentation is wrong about Spanner not supporting foreign keys. It was written before foreign keys support was added and had not been updated. We should fix it.

That being said, there is nothing preventing you from using foreign key constraints in your Spanner schema while still using Spring Data Spanner. One place we can add foreign keys support is in our sc

[2021-11-23 15:59] elefeint opened #740 "Prevent unit tests from trying to acquire Application Default Credentials"
A number of unit tests trigger autoconfiguration of `DefaultCredentialsProvider`. The symptom of it is "java.io.IOException: The Application Default Credentials are not available" output, plus the test takes longer than it should (because interacting with file system is relatively expensive).

1) In an environment that does not have ADC, run `mvn test`, which will run unit tests only, and inventor

[2021-11-23 15:59] elefeint commented on #740
@ddixit14 This is for after JUnit migration. It will take you through different styles of overriding autoconfiguration.

[2021-11-24 00:11] bowenjin commented on #737
Ah thank you guys, the Hibernate dialect + Spring Data JPA seems like a suitable alternative. Though it would be awesome if Cloud Spanner Spring Data supported some annotations for foreign keys. Hope this issue request gets some interest!

[2021-11-26 07:02] debrutal opened #744 "Logback CONSOLE_JSON appender. Customize pattern"
**Is your feature request related to a problem? Please describe.**
When analysing errors in the Cloud Run Logs i am used to see `thread` and `package/class` information within the logged message of the log. For me it is important to have those informations at the first glance to associate logs to the same execution. This is the default behaviour with logback.

When i use a provided appender e.g.
`

[2021-11-26 07:03] debrutal commented on #744
editid missing end of a sentence

[2021-11-26 09:24] gjferriercoats opened #745 "Logging unstable under loss of connection"
Using the latest sample from  spring-cloud-gcp-samples/spring-cloud-gcp-logging-sample I am able to make the implementation unstable (runaway memory, thread allocations) by disabling the network connection so that the attempt to log to GCP fails.

I was able to recreate the problem by adding the following -

* Add @EnableScheduling to the SpringBoot application
* Add a new class which has a fixed

[2021-11-26 22:02] psinghbay1 opened #746 "BeforeSaveEvent doesn't include all the entities"
**Describe the bug**
We are leveraging this event to update some common attributes in entity classes. We noticed that The event includes the entities which are saved only using SpannerTemplate.save() calls. If we have parent-child related entities e.g. School & Students and call SpannerTemplate.save(new Student()), then the BeforeSaveEvent includes Student object. However if we have code something

[2021-11-29 14:01] elefeint commented on #745
Thank you for the report. I believe this is related to #614 -- the CANCELED grpc netty futures have something holding on to them preventing garbage collection. I am looking into which layer of our stack is holding on to the objects.

[2021-11-29 15:45] elefeint commented on #744
@debrutal Cloud Logging converts a JSON field with key `message` into the text that you see in logging overview. With `StackdriverJsonLayout` (which is what powers `logback-json-appender.xml`), you can customize all aspects of the logged JSON with an implementation of `com.google.cloud.spring.logging.JsonLoggingEventEnhancer` referenced as `<loggingEventEnhancer>` field of the encoder.

Here is an

[2021-11-29 15:51] elefeint commented on #746
@psinghbay1 Thank you for reporting!

@ddixit14 Could you reproduce the issue and look into the cause? This is higher priority than the testing work.

[2021-11-29 20:03] elefeint commented on #599
Obsolete; Spring Boot 2.6.0 and 2.6.1 are out.

[2021-11-29 20:03] #599 closed

[2021-11-30 17:32] ddixit14 commented on #746
Hi @psinghbay1, could you please provide more information on the entities that you have defined, if you're using spanner-template or spanner-repository and the version of spring-cloud-gcp you're using?

[2021-12-01 13:45] elefeint commented on #602
Fixed in #728

[2021-12-01 13:45] #602 closed

[2021-12-01 19:31] mpeddada1 commented on #737
Thanks for the responses and for filing the feature request! We will be leaving this issue open. Please feel free to give it a thumbs up if you would like to see this implemented.

[2021-12-02 14:46] gjferriercoats commented on #745
@elefeint have you got any idea about the timeline for a fix?  This is causing production outages for us.  If a fix is going to be sometime we'll need to look at removing the offending code.

[2021-12-02 15:36] elefeint commented on #745
Did production issues start after a particular time / upgrade?
Or are the network issues new?

[2021-12-02 15:50] gjferriercoats commented on #745
Not a particular upgrade, the problem appears to be caused by unstable network (which we're looking into separately).

[2021-12-03 17:09] elefeint commented on #745
One thing I can recommend while we are looking at the issue is to switch from using direct API appender ("STACKDRIVER") to using [structured console logging ("CONSOLE_JSON")](https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.4/reference/html/index.html#log-via-console). Because the latter does not send logs directly to Cloud Logging, it should not result in the same issue when network con

[2021-12-04 23:27] timpamungkas opened #764 "Graceful snytax to creating bucket when it already exists"
**Is your feature request related to a problem? Please describe.**
I'm trying to create new bucket on existing bucket, with my controller is something like `POST /api/storage/{bucketName}`. But when the bucket name already exists, it throws exception. Right now I'm just ignoring the exception. Is there any graceful syntax rather than this?

[code]

**Describe the solution you'd like**
Maybe someth

[2021-12-04 23:31] timpamungkas opened #765 "[Question] On spring, how to create permission to allUsers"
While creating new bucket, how to set the permission to **allUsers**?

[code]

The created bucket has _Storage Legacy Bucket Reader_ permission for **allUsers**, but accessing object within will result on `Anonymous caller does not have storage.objects.get access to the Google Cloud Storage object.`.

I need to add _Storage Object Viewer_ acl manually from console.

Is this bug?

I'm using spring

[2021-12-05 00:02] timpamungkas commented on #765
My fault, looking for wrong doc. Should be [here](https://cloud.google.com/storage/docs/samples/storage-set-bucket-public-iam#storage_set_bucket_public_iam-java)

[2021-12-05 00:02] #765 closed

[2021-12-05 00:02] timpamungkas commented on #764
gotthe proper code

[code]

[2021-12-05 00:02] #764 closed

[2021-12-06 09:09] gjferriercoats commented on #745
thanks @elefeint we'll give that a try, and let you know.

[2021-12-07 14:01] guycall opened #767 "Incorrect Spanner custom converter used"
I am experimenting to determine if there is any performance difference between BYTES(16) and STRING(36) for UUID primary keys. But I get an unexpected result where the incorrect custom converter gets used.

I made a new sample project with Spring Initializr (Spring Boot 2.6.1, Gradle, Java 11) and version 2.0.6 of spring-cloud-gcp-starter-data-spanner.

Created custom converters for ByteArray <->

[2021-12-07 15:43] suztomo commented on #767
It seems that your observe that ConverterAwareMappingSpannerEntityProcessor is not working correctly. Let me troubleshoot further.

[2021-12-07 18:24] suztomo commented on #767
@guycall I need your help in clarification.

1. When you save the data, do you see the UUID data is stored correctly with expected types,  `BYTES(16)` and one as `STRING(36)`?

(If not, then the next question below is less important)

2. When you read the data, do you see the Spanner Byte data and Spanner String data are read correctly?

[2021-12-07 21:26] suztomo commented on #767
It turned out that `ConverterAwareMappingSpannerEntityProcessor ` cannot have duplicate converters. We'll enrich document to explain this.

[2021-12-07 22:17] guycall commented on #767
Thank you for the quick response.

[2021-12-07 23:17] #767 closed

[2021-12-08 01:50] gaeshi opened #774 "Spanner @Embedded annotation doesn't work with findById"
I'm trying to follow the latest official reference on how to use @Embedded annotation to reuse set of columns between multiple entities:
https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.6/reference/html/index.html#embedded-objects

When I'm using `SpannerRepository.save(Entity)`, everything works as expected, but when I'm doing `SpannerRepository.findById(Entity.id)`, I'm getting `Spanne

[2021-12-08 16:33] suztomo commented on #774
Checking this...

[2021-12-08 16:59] elefeint opened #776 "Exclude all attributes starting with "goog_" from outbound Pub/Sub headers"
Report came from Gitter -- in a Spring Cloud Stream application, `HeaderMapper` fields are not customizable in the adapters. In a Processor SCS application, if the Pub/Sub message received from one subscription is passed as-is to a topic, the message will be rejected with:
[code]

To prevent this issue, `PubSubHeaderMapper.outboundHeaderPatterns` needs to include `"!goog_*` by default.

[2021-12-08 17:21] ddixit14 commented on #776
Sounds like something I can take up next? @elefeint

[2021-12-08 17:31] jamesward opened #777 "Can't Find New Docs via Google"
Any time I google for something related to Spring Cloud GCP, the results show the old site, not the new one.  Like "spring cloud gcp redis" gets me to:
https://cloud.spring.io/spring-cloud-gcp/multi/multi__cloud_memorystore_for_redis.html

When I think I want to get to:
https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#cloud-memorystore-for-redis

But the `googleclou

[2021-12-08 19:06] #656 closed

[2021-12-08 19:11] elefeint commented on #777
Github wikis are [not searchable](https://github.com/github/feedback/discussions/4992#discussioncomment-1448177), apparently intentionally.
We'll need to think through the long term strategy for OSS reference documentation.

[2021-12-08 19:32] elefeint commented on #777
For what it's worth, https://spring.io/projects/spring-cloud-gcp#learn links to the right place.

[2021-12-08 19:36] elefeint commented on #776
Yes, that's a good idea. First, reproduce the issue by creating a sample application that has a Spring Cloud Stream *processor* -- our current sample only has a source and a sink.

[2021-12-08 19:37] suztomo commented on #774
Update: I tried in Java and it worked fine. https://github.com/suztomo/embedded-objects-java

<img width="1187" alt="Screen Shot 2021-12-08 at 2 35 35 PM" src="https://user-images.githubusercontent.com/28604/145272721-56245398-3d9e-4043-880f-e16067c4e98b.png">

[code]

[2021-12-08 23:44] elefeint commented on #774
@gaeshi The issue is with the default constructor in Kotlin -- data classes are immutable, so all fields have to be initialized at construction time. Spring Data's `KotlinClassGeneratingEntityInstantiator` looks at the constructor available, and tries to get each column's value from Spanner-specific code, failing when it gets to a synthetic "column" `entityHistory`, which does not exist in the und

[2021-12-09 00:25] gaeshi commented on #774
@suztomo @elefeint
Thank you very much for your help!

[2021-12-09 14:38] #774 closed

[2021-12-10 21:31] elefeint commented on #699
@mvpzone I apologize for the delay. I've reviewed the code in your repo, and the approach looks good to me. It would be good to have a sample application, too, but that can be done as a follow-up.
Could you create a pull request in this repository, so we can work out the specifics?

[2021-12-12 14:07] michaeldlfx opened #789 "Add `Spring Boot` version compatibility matrix to documentation & README"
**Is your feature request related to a problem? Please describe.**
Currently, it's quite difficult to verify the compatibility of `Spring Boot` versions with `Spring Cloud GCP` versions. It's only possible by
1. Noticing that the application won't start, and looking up the [`SpringBootVersionVerifier.java`](https://github.com/spring-cloud/spring-cloud-commons/blob/8807b4dac035c2247987d22065ac03b8c

[2021-12-13 10:50] mlvandijk opened #790 "PublisherFactory returns PublisherInterface instead of Publisher"
**Describe the bug**
There was a change in the PublisherFactory in `com.google.cloud:spring-cloud-gcp-pubsub` version 2.0.6 used in `com.google.cloud:spring-cloud-gcp-starter-pubsub` which caused one of our applications to have a compilation error on the following line:
[code]

The reason for this is as follows:

In version 2.0.5 the PublisherFactory returns a Publisher
[code]
while in v 2.0.6 it

[2021-12-13 10:51] mlvandijk commented on #790
Should have label "pubsub" but I cannot add labels.

[2021-12-13 11:27] mlvandijk commented on #790
Additional info: Downgrading to 2.0.5 fixes the compilation error but the deployment fails. There is an issue with a class not found:
`java.lang.IllegalArgumentException: Unresolvable class definition for class [com.google.cloud.spring.autoconfigure.pubsub.GcpPubSubProperties]`

[2021-12-13 14:24] elefeint commented on #790
@mlvandijk For the second issue, you'd have to also downgrade `spring-cloud-gcp-autoconfigure` to 2.0.5.
For the main issue, you are absolutely correct -- this was an unintentional regression.

@meltsufin If we make `TracingPublisher` extend `Publisher` for backwards compatibility while retaining the delegate, we'd have to override all methods to redirect to the composed delegate. It might be easi

[2021-12-13 14:31] elefeint commented on #789
@michaeldlfx Thank you; this is a good idea.
To summarize quickly up front:
* Spring Boot 2.6 / Spring Cloud 2021.0 are not yet supported in Spring Cloud GCP. We are working on this compatibility for the next release.
* Spring Boot 2.4/2.5 and Spring Cloud 2020.x are supported in Spring Cloud GCP 2.0.x.

[2021-12-13 15:21] meltsufin commented on #790
@mlvandijk Can you just downcast `PublisherInterface` to `Publisher`, if you're not using Pub/Sub tracing?

@elefeint Your suggestion makes sense, but it will require quite a bit of boilerplate code. Ideally, `PublisherInterface` would expose `publishAllOutstanding()`, but that would require changes in the the Pub/Sub client library.

[2021-12-13 19:22] #789 closed

[2021-12-14 08:24] mlvandijk commented on #790
Thank you both for your quick response. I will see what we can do today to work around it and get back to you.

[2021-12-14 10:50] szopal opened #796 "Not correct priority gcp.sql.credentials - get default application credentials instead of spring.cloud.gcp.sql.credentials.encoded-key"
Hi,

I have problem when change group of org.springframework.cloud to com.google.cloud in my spring-cloud-gcp-dependencies. I tried connect with CloudSQL by GCP Service Account passed in spring.cloud.gcp.sql.credentials.encoded-key from Vault (but also try in spring.cloud.gcp.sql.credentials.encoded-key). But instead get my service acount credentials key, Spring Boot app get my default application

[2021-12-14 12:46] mlvandijk commented on #790
Update: Casting `PublisherInterface` to `Publisher` seems to work.
`      pubsubTemplate.getPublisherFactory.createPublisher(topic).asInstanceOf[Publisher].publishAllOutstanding()` (we are using Scala in this part of the application)

[2021-12-14 14:10] elefeint commented on #790
I've filed googleapis/java-pubsub#949 in the client library -- if it's meant to be a public surface, we should support it. If not, the downcasting workaround is fine.

[2021-12-14 14:51] meltsufin commented on #796
Please move it to `application.yaml` instead of `bootstrap.yaml` and try again.

[2021-12-14 18:40] szopal commented on #796
I tried but I still have error:

[code]

Vault variable ${GCP_CREDENTIALS_ENCODED_KEY} is not getting before SqlCredentialFactory initialization.

[2021-12-14 19:19] szopal commented on #796
If I pass spring.cloud.gcp.sql.credentials.encoded-key as  base64 value instead Vault variable, password to database is getting correctly although also is as Vault variable.

[2021-12-14 19:51] elefeint commented on #796
@szopal You use Spring Cloud Vault? It looks like they recommend the new ConfigData API for loading properties -- https://docs.spring.io/spring-cloud-vault/docs/current/reference/html/#vault.configdata.
While upgrading Spring Cloud GCP, have you also upgraded Spring Cloud Vault? What were the before/after versions?

[2021-12-14 20:34] szopal commented on #796
Yes, we use Spring Cloud Vault i 3.0.3 version and Spring Boot Starter Parent in 2.2.1-RELEASE.

I heard about it but I wonder if maybe this Spring Boot version is incompatible with Vault 3.0.3 because of new API. I tried to downgrade Vault to 2.x.x version but I've still got the same error.

[2021-12-14 21:13] elefeint commented on #796
Spring Cloud Vault 3.0.3 is on the Illford Spring Cloud release train, which is [compatible with Spring Boot 2.4.x and 2.5.x](https://spring.io/projects/spring-cloud#adding-spring-cloud-to-an-existing-spring-boot-application).

Try using the following configuration:
* Spring Cloud Vault 3.0.3
* Spring Boot Starter Parent 2.4.13
* set an environment property `spring.cloud.bootstrap.enabled=true` OR

[2021-12-15 07:25] szopal commented on #796
I tried the last one but in my Spring Boot version (2.2.1) - it's not working. I would like to avoid currently Spring Boot version migration but if I have to - I do it.

It's strange for me that spring.datasource.password is correctly getting from Vault as value not as variable name, but spring.cloud.gcp.sql.encoded-key not. It seems that spring.cloud.gcp.* is loaded to bootstrap context before Va

[2021-12-15 08:30] mlvandijk commented on #790
Update: We are still having trouble with our application so we had to roll back (with the downcast). We are still investigating to pinpoint the issue. If relevant, I will provide additional info here.

[2021-12-15 14:37] elefeint commented on #796
The reason @meltsufin asked to move Cloud SQL configuration from bootstrap to regular application.yaml is that `CloudSqlEnvironmentPostProcessor` does not run at the bootstrap phase at all. The error that you got then ("Caused by: java.lang.IllegalArgumentException: Illegal base64 character 24") seemed to indicate that *something* got loaded from Vault into the field.

[2021-12-15 14:51] elefeint commented on #790
That's interesting. What type of issues (memory? throughput?). And are the problems coming up in the "publish to pub/sub" scenario or elsewhere?

[2021-12-15 17:39] elefeint opened #801 "Switch to managing version of Spring Boot in this project"
We still rely on Spring Cloud Build for the default Spring Boot version to build against. Reasoning about versions and keeping the `spring-cloud-gcp-samples` Spring Boot version in sync would be easier if it was explicitly managed here.

We likely don't need `spring-cloud-build-dependencies` at all, except for checkstyle, and that will go away when we switch to Google style next year.

Related iss

[2021-12-15 19:47] mvpzone commented on #699
@elefeint Will get started on the PR and will look to include a sample app too (so we have a usage example right from the get go.). I am debating if we should also wait to include the DLP versioning to make it into the API surface or not prior to the PR?

[2021-12-15 23:44] elefeint commented on #575
The best time for this will be right off branching off Spring Cloud GCP 2.x.

[2021-12-16 08:25] szopal commented on #796
I found article [](https://githubmemory.com/repo/GoogleCloudPlatform/spring-cloud-gcp/issues/433) where is describe similar problem. But please explain me why ${DB_PASSWORD} id correctly getting from Vault to spring.datasource.password but  ${GCP_CREDENTIALS_ENCODED_KEY} is not in spring.cloud.gcp.sql.credentials.encoded-key.

[2021-12-16 09:41] mlvandijk commented on #790
We noticed that we were no longer processing messages, and our k8s pods kept crashing.

For context: We have several applications that process large amounts of data. Two of them seem to have a problem with the upgrade from `spring-cloud-gcp-pubsub` version 2.0.5 -> 2.0.6.
We use an internal framework that basically wraps spring-boot and several other dependencies that our applications need (like l

[2021-12-16 14:48] elefeint commented on #699
@mvpzone Yes, let's wait for the API surface to be stable.

[2021-12-16 14:58] #801 closed

[2021-12-16 15:49] mlvandijk commented on #790
Update: The issue with crashing pods might be related to the fact that gcp 2.0.6 has also a new health indicator for spanner. See https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/643/files - we are confirming now.

[2021-12-17 11:59] mlvandijk commented on #790
We narrowed it down to a Spanner health check that was enabled by default. Disabling it fixed our problems (other than the original issue). Thanks for your help & quick responses!

[2021-12-17 12:15] szopal commented on #796
Yes, it has no value but variable name as value: ${GCP_CREDENTIALS_ENCODED_KEY}

I simulated this in the newest version SpringBoot (2.6.1)

[code]

And demo app:

https://github.com/szopal/spring-boot-vault-gcp-test

[2021-12-17 13:20] szopal commented on #796
Okay, I fixed some things and now it's work with newest SpringBoot!

[2021-12-17 17:26] MusikPolice opened #811 "spring-cloud-gcp-data-spanner does not support BEFORE"
**Describe the bug**
Using the `Before` operator in a repository method causes an exception to be thrown.

**Sample**
If I create a repository method like this:
[code]

I expect that it would delete all records belonging to the user with the specified `userId` and having a `createdTimestamp` greater than the specified timestamp.

If I try to execute this function, an exception is thrown:
[code]

*

[2021-12-18 17:05] meltsufin commented on #790
@mlvandijk Can you provide some more information on how the Spanner health checking was causing problems? Are you using Spanner in the application? The health check should not be turned on, unless you're using the Spanner Spring Boot starter.

[2021-12-18 17:06] #796 closed

[2021-12-18 17:22] elefeint commented on #790
Spring Boot Actuator [warns against using health checks to determine kubernetes liveness](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#features.spring-application.application-availability.liveness), but we've seen users of Spring Cloud GCP have production issues because Kubernetes liveness was tied to Spring Boot Actuator healthchecks. Is using health checks in liveness in

[2021-12-20 14:55] zhumin8 commented on #811
Thanks for looking into this. You are right that `before` is not supported, only the listed filters [here in our documentation](https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#query-methods-by-convention) is supported query by convention for now.

[2021-12-23 06:25] mlvandijk commented on #790
Yes, we are using Spanner. The health check was turned on by default (that might have been done by our internal framework).

[2021-12-23 12:16] mlvandijk commented on #790
Afaik it was this change: https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/643/files
The comment there states:
[code]

We set `management.health.spanner.enabled` to `false` as suggested and that fixed our problems.

[2021-12-23 12:45] elefeint commented on #790
It's correct that most health indicators are enabled by default, but they should not be tied to Liveness group, which is what controls the Kubernetes restarts. So somehow these custom informational indicators are making their way to [`management.endpoint.health.group.liveness.include`](https://docs.spring.io/spring-boot/docs/2.5.x/reference/html/actuator.html#actuator.endpoints.kubernetes-probes.e

[2021-12-24 13:03] PhilipAshworth opened #820 "firestore cannot handle field names with leading and trailing __ as it breaks a constraint in firestore if created"
**Describe the bug**
When using the https://cloud.spring.io/spring-cloud-static/Greenwich.RC2/multi/multi__spring_data_cloud_datastore.html and Entity data is created, it causes firestore / google cloud datastore fields to be created using a naming convention of __<field name>__ for example `__type__ = "__legacy_entity__"`

This clashes with a firestore restriction where double underscores at the

[2021-12-28 14:08] elefeint commented on #820
Datastore and Firestore have separate modules in Spring Cloud GCP. Try using the [Firestore integration](https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.7/reference/html/index.html#spring-data-cloud-firestore) to interact with Firestore in native mode.

[2021-12-28 20:20] mpeddada1 opened #821 "R2DBC in Cloud SQL : Enable support for IAM database authentication"
This seems to be blocked as described below:

Currently holding off on adding support for enabling IAM auth through the url as this doesn't seem to be working as expected for the R2DBC workflow. Extra options parsed from the url are automatically typed as `String` so  when [GcpConnectionFactoryProvider#createFactory](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/20881af

[2021-12-28 20:29] elefeint commented on #821
I think this will have to be a change in `GcpConnectionFactoryProvider`.
Even when [the limitation in R2DBC](https://github.com/r2dbc/r2dbc-spi/issues/206) gets addressed with some new API, the socket factory will still have to switch to using the new API.

[2021-12-28 23:29] elefeint opened #827 "Allow customizing Pub/Sub Spring Cloud Stream header mapping"
On Spring Integration level, we [allow setting custom inbound/outbound header mappings](https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.7/reference/html/index.html#header-mapping).

But when `PubSubMessageChannelBinder` creates inbound and outbound adapters, it does not allow the user to customize header mapping.

We should allow consumer/producer properties to control the inbound (`Pub

[2021-12-28 23:29] elefeint commented on #827
This is a follow-up to #776.

[2021-12-29 13:56] elefeint commented on #745
@gjferriercoats Sorry, I missed this. That's correct for on-prem / local -- the logs are only processed when running in a GCP environment.

[2021-12-29 14:40] elefeint commented on #776
@ddixit14 Hints on reproducing using `spring-cloud-gcp-pubsub-stream-functional-sample`:
- `googclient_deliveryattempt` only exists when the subscription has DLQ enabled. Can't reproduce otherwise.
- In Spring Cloud Stream, to turn something from a Sink to a Processor, the functional bean needs to switch from being a `Consumer` (one input, no outputs) to being a `Function` (one input, one output).

[2021-12-29 16:49] elefeint commented on #745
@gjferriercoats There are two things that in combination will help:
1) Upgrade to Spring Cloud GCP 2.0.7. We've picked up a [client library fix for restoring batching](https://github.com/googleapis/java-logging/issues/632), which will relieve heap pressure.
2) Switch from synchronous to asynchronous logging, which will reduce the number of threads spawned and prevent logging issues from affecting

[2021-12-29 17:30] mpeddada1 commented on #821
Thanks for the link to the limitation. Create an issue at https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/issues/686.

[2022-01-04 16:16] ddixit14 commented on #740
This is completed so closing the issue.

[2022-01-04 16:16] #740 closed

[2022-01-07 14:52] gabac opened #844 "Support "Annotate File" endpoint"
**Is your feature request related to a problem? Please describe.**
Google Vision also offers an API to annotate files, specifically PDFs. In my use case I have many file types and I would like not to convert a PDF to an image on my side

- https://cloud.google.com/vision/docs/reference/rest/v1/files/annotate
- https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1#google.cloud.v

[2022-01-07 16:03] meltsufin commented on #844
I think this could make sense, especially if it's a simple addition to the `VisionTemplate`. @dzou @elefeint What do you think?

[2022-01-07 16:14] gabac commented on #844
That would have been my idea 💡

[2022-01-07 17:28] elefeint commented on #844
@gabac Have you tried using `CoudVisionTemplate.analyzeImage()` on the PDFs? PDF is [considered one of the supported "image" types](https://cloud.google.com/vision/docs/supported-files).

[2022-01-07 17:33] gabac commented on #844
I tried, it's not 😉
That's why I opened up the feature request in the first place

[2022-01-08 01:06] vorburger opened #848 "logging-sample should illustrate appropriate use of springProfile etc."
When using the _logging_ support e.g. in an open source or even BigCorp. internal project which one would like to "just run" great on GCP "out of the box", yet also run fine locally, or on other clouds, without having to manually fiddle with touching configuration files.

This is the case e.g. for https://issues.apache.org/jira/browse/FINERACT-892 for https://www.fineract.dev. For that, and presum

[2022-01-08 01:12] vorburger commented on #679
Alternatively, you could possibly ditch having to depend on the `log4j-core` module with Layouts and what not including JNDI Support 😈 LOL, and just write the equivalent of https://github.com/googleapis/java-logging-logback/tree/65ab6f8dfbfe9f28538b905db58aadeae0182276/src/main/java/com/google/cloud/logging/logback which directly implements `log4j-api`, only. FYI I've just done something like this

[2022-01-08 15:03] gabac commented on #844
That would be the error message I receive
[code]

[2022-01-10 14:30] elefeint commented on #679
@vorburger As it happens, Spring Cloud GCP's [`LoggingAppender`](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/v2.0.7/spring-cloud-gcp-logging/src/main/java/com/google/cloud/spring/logging/LoggingAppender.java) already extends `java-logging-logback`'s logback `LoggingAppender`, so it can already be used through any existing logback bridge.

The reason I created this issue was that t

[2022-01-10 14:39] elefeint commented on #848
@vorburger The easiest way to have "turn on GCP logging when on GCP, but not locally or on other clouds" is likely to generalize it into "turn on GCP functionality in general only when on GCP" and use Maven (or other build system) profiles. All logging functionality and configuration are pulled in through `com.google.cloud:spring-cloud-gcp-starter-logging` dependency, so if you only include this d

[2022-01-11 05:08] njkevlani opened #864 "[pubsub] Graceful shutdown for underlying Publisher"
Hello,

Does [`PubSubPublisherTemplate`](https://docs.spring.io/spring-cloud-gcp/docs/1.1.0.M2/api/org/springframework/cloud/gcp/pubsub/core/publisher/PubSubPublisherTemplate.html) provide functionality to call [`.shutdown`](https://googleapis.dev/java/google-cloud-pubsub/latest/com/google/cloud/pubsub/v1/Publisher.html#shutdown--) and [`.awaitTermination`](https://googleapis.dev/java/google-cloud

[2022-01-11 15:49] elefeint commented on #864
It's a valid feature request. In fact, it's a bug/omission that we don't shut down publishers on Spring context shutdown ourselves.

@njkevlani Is your usecase related to application shutdown issues, or do you want to clean up publishers throughout the application lifespan?

[2022-01-11 15:54] njkevlani commented on #864
Hey @elefeint,

Yes, our usecase is about application's graceful shutdown.

[2022-01-11 21:47] elefeint opened #871 "checkstyle: remove MissingJavadocMethod suppression"
1) Remove  `<suppress checks="MissingJavadocMethod" files=".*"/>` from `checkstyle-suppressions.xml`.
2) Write javadoc to address as many issues as you want to handle at a time.
3) Put the suppression back if any violations remain.
4) Send PR.
Rinse, repeat until all missing javadoc is written.

[2022-01-11 21:48] elefeint opened #872 "checkstyle: remove SummaryJavadoc override"
1) Remove  `<suppress checks="SummaryJavadoc" files=".*"/>` from `checkstyle-suppressions.xml`.
2) Write javadoc to address as many issues as you want to handle at a time.
3) Put the suppression back if any violations remain.
4) Send PR.
Rinse, repeat until all missing javadoc is written.

[2022-01-11 21:49] elefeint opened #873 "checkstyle: remove MissingJavadocType suppression"
1) Remove  `<suppress checks="MissingJavadocType" files=".*"/>` from `checkstyle-suppressions.xml`.
2) Write javadoc to address as many issues as you want to handle at a time.
3) Put the suppression back if any violations remain.
4) Send PR.
Rinse, repeat until all missing javadoc is written.

[2022-01-11 21:49] elefeint opened #874 "checkstyle: remove OverloadMethodsDeclarationOrder suppression"
1) Remove  `<suppress checks="OverloadMethodsDeclarationOrder" files=".*"/>` from `checkstyle-suppressions.xml`.
2) Write javadoc to address as many issues as you want to handle at a time.
3) Put the suppression back if any violations remain.
4) Send PR.
Rinse, repeat until all missing javadoc is written.

[2022-01-11 21:50] elefeint opened #875 "checkstyle: remove VariableDeclarationUsageDistance suppression"
1) Remove  `<suppress checks="VariableDeclarationUsageDistance" files=".*"/>` from `checkstyle-suppressions.xml`.
2) Write javadoc to address as many issues as you want to handle at a time.
3) Put the suppression back if any violations remain.
4) Send PR.
Rinse, repeat until all missing javadoc is written.

[2022-01-12 15:55] elefeint commented on #844
We've tested this a bit with the existing Vision sample. Could not reproduce this exact error, but did get "bad image" response codes for every PDF tried.
I've reached out to Vision team for guidance on whether the "annotate-image" set of APIs is expected to work on PDFs, or if "annotate-files" should be used instead.

[2022-01-12 15:59] gabac commented on #844
This is my mistake. I copied in an internal error message from my service. The error message by the API would be the same as you just mentioned
[code]
I appreciate that you reached out to the Vision team to clarify things.

Independent of the outcome, would you be interested in supporting the `annotate-files` endpoint in this library?

[2022-01-12 23:43] bitbythecron opened #878 "Getting logback/Logstash to send stack trace and hashes to Cloud Logging"
Java 11 here. I have a service that uses Logback and [Spring's GCP/Cloud Logging lib](https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.1/reference/html/index.html#cloud-logging) to log to GCP Cloud Logging. My current `loback.xml` looks like:

[code]

I was reading about Logstash's concept of [stack hashes](https://github.com/logfellow/logstash-logback-encoder/blob/main/stack-hash.md) an

[2022-01-13 02:35] elefeint opened #879 "Add reference documentation for Firebase authentication"
Issue ported from spring-cloud/spring-cloud-gcp#2182.

This was a contribution that we never wrote documentation for (see spring-cloud/spring-cloud-gcp#2111, spring-cloud/spring-cloud-gcp#2157).

Some of the contents can be derived from README on the sample app.

[2022-01-14 21:42] mladenr opened #886 "Support traceSampled field"
Google Logging defines boolean field "traceSampled" (https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry ). Spring GCP and Sleuth only fill fields "trace" and "spanId" in log entry. Seems that "traceSampled" is never populated. It would be good to populate this field.

[2022-01-14 22:37] elefeint commented on #886
@mladenr Thank you for the idea!

For future context: trace information is injected into a Logging proto `LogEntry` in `TraceIdLoggingEnhancer`. Information about whether or not a trace is sampled exists in `brave.baggage.BaggageField.currentTraceContext().sampled()`, although we'd need to revisit Brave documentation to make sure we get the sampled flag from the right place.

[2022-01-16 22:07] mladenr commented on #886
I am using com.google.cloud.spring.logging.StackdriverJsonLayout. New JsonLoggingEventEnhancer should be implemented (this class will add traceSampled to JSON log message) and this class should be injected in StackdriverJsonLayout.

[2022-01-18 12:10] SebastianSchmidtInovex opened #887 "Send ACK on PubSubMessageConversionException to prevent retries"
We are currently using _spring-cloud-gcp-pubsub-2.0.2_ but as far as we could see, this functionality has not changed in _3.0.0_.
In our setup, we use the _PubSubTemplate_ with a _JacksonPubSubMessageConverter_ to let our _Consumers_ directly work with deserialized POJOs which is working great.

But we figured that the handling of erroneous messages is quite problematic. Per default, every message

[2022-01-18 14:26] elefeint commented on #878
I'll try it out this week.

[2022-01-18 14:55] elefeint commented on #887
@SebastianSchmidtInovex Thank you for the detailed report.

There may be an elegant bean overriding solution to the problem. Try extending `JacksonPubSubMessageConverter` (or, since it's a very small class, define your own implementation of `PubSubMessageConverter`) that logs error and returns. Let's say you name it `ErrorLoggingJacksonPubSubMessageConverter`.

Then instead of defining an instance

[2022-01-18 16:08] SebastianSchmidtInovex commented on #887
Hello @elefeint,

many thanks for the fast response. This approach would be less intrusive regarding the existing framework classe. There is one point in your suggestion that I am concerned about.

I wonder "what" this custom converter should return after logging the error. It is expected to return the Java object it just deserialized but in that situation I cannot do this.
The _MessageReceiver_ c

[2022-01-18 16:40] meltsufin commented on #886
The "sampled" boolean would need to be extracted from `X-Cloud-Trace-Context` or `B3` headers. Then, in the case of JSON-based logging, it would need to be included in `StackdriverJsonLayout`, but I believe it equally applies to `TraceIdLoggingEnhancer` used for API-based logging.

[2022-01-18 16:51] elefeint commented on #887
That's fair. The reason I am reluctant jump to adding overloaded methods accepting both a message handler callback and an error handler callback is that the `PubSubSubscriberTemplate` already has too many methods, and we've had feedback that they are confusing to use already.

There is one more mitigation you can try for your use-case: extend `ConvertedBasicAcknowledgeablePubsubMessage`, which is

[2022-01-18 17:47] meltsufin commented on #887
I see three main options here, all of which have already been mentioned:
1. Use the dead-letter queue for invalid messages.
2. Provide a custom converter that doesn't throw an exception.
3. Provide a custom message receiver that catches the exception. This option can be implemented either by extending the template or by user.

Frankly, I would take a closer look at why you're getting so many inval

[2022-01-18 17:52] meltsufin commented on #887
Also, to help with ensuring that the messages are always in the right format, you might want to look into the Pub/Sub schemas support.

https://cloud.google.com/pubsub/docs/schemas

[2022-01-18 20:25] elefeint commented on #886
googleapis/java-logging-logback#654 may be relevant to this. Given that autopopulated metadata is defined by package names, we may be able to piggyback on this.

[2022-01-19 02:50] SebastianSchmidtInovex commented on #887
I understand your position and agree.
Perhaps the current behaviour really fits for most users of the library and since we didn't find any other discussions regarding this issue, that seems to be the case. Maybe if there is more demand, others will comment here as well. It's up to you to decide if that justifies changes to your code base.

Regarding your response @meltsufin, our problem is not rea

[2022-01-19 09:08] Daniel-OG opened #891 "Connectivity issues with Spanner on 2.0.6 and above"
**Describe the bug**
Trying to do a "SELECT 1" on a Spanner database fails.  Attached a stack trace from the example. I could reproduce this only with versions 2.0.6 and 2.0.7. Earlier versions are working fine.
[code]

Let me know if you have any further doubts or require more information.

**Sample**

https://github.com/Daniel-OG/Spanner-problem

[2022-01-19 09:09] jalvarez2000 opened #892 "Datastore repository can´t manage correctly the query @Params in HAS ANCESTOR Key"
Using spring-cloud-gcp-starter-data-datastore v3.0.0, the datastore repository can´t substitute correctly the external params.

This is a sample of a Query:

    @Query("select * from players where __key__ has ancestor key(games,@gameId)")
    Collection<PlayerModel> getGamePlayers(@Param("game_id")String gameId);

And this is the stack error:
Servlet.service() for servlet [dispatcherServlet] in c

[2022-01-19 14:16] elefeint commented on #887
We'll keep the issue open to gauge demand, although I'll change the title ("acking on failure" sounds a bit scary)

[2022-01-19 14:49] elefeint commented on #892
@jalvarez2000 Is this something that worked for you with older versions?

[2022-01-19 15:07] jalvarez2000 commented on #892
No, I have tried in 1.2.8 and 3.0.0, same result. The issue looks trying to get a param inside the KEY functtion 'KEY(game,@gameId)' . I think it can be a parser issue, maybe cause the parenthesis.

[2022-01-19 19:59] hfgbarrigas opened #893 "Tracing context derived from PubSub messages that are delivered through push subscriptions"
Although there is tracing support for pubsub template leveraging spring-cloud-sleuth, when using pubsub push subscriptions message attributes are not used as http headers but instead, the whole message is delivered in the body of an http post.

**Describe the solution you'd like**
Ideally, propagating tracing context should be transparent and users of spring-cloud-sleuth and gcp could opt-in via c

[2022-01-19 21:28] meltsufin commented on #893
Thank you for submitting the enhancement request @hfgbarrigas!

[2022-01-19 21:46] hfgbarrigas commented on #893
sure thing. while this isn't supported, could you point me in the right direction to come up with something? I was looking at `org.springframework.cloud.sleuth.instrument.web.TraceWebFilter` but would have to make adjustment to inspect the body and get the message attributes. Is there anything that I could re-use from https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/548 to extract and

[2022-01-20 16:06] ddixit14 commented on #688
Done hence closing.

[2022-01-20 16:06] #688 closed

[2022-01-20 23:35] elefeint commented on #893
Here is a sample showing one way to get this done:
https://github.com/elefeint/examples/tree/master/pubsub-push

In the sample, `HttpTracingCustomizer` is used to exclude the Pub/Sub Push endpoint from being instrumented by turning sampling off. Then a new span with the correct trace context is created in the REST controller, where the request body is already available.

My original approach of ex

[2022-01-21 18:21] gombasp commented on #891
Hi,

original issue comes from me. After your comment i retested it and after deactivating the new health check as you said the example code worked fine. @Daniel-OG please confirm it as well, just to be sure.

Indeed it seems it has to do with the new health check. Note that i tried as well that i deactived our own, and tried to use the new one. It produces the same error i saw earlier: after some

[2022-01-21 19:43] zhumin8 commented on #575
merged-PRs: #865 #868 #869
Follow-up issues: #871, #872, #873, #874, #875

[2022-01-21 19:47] elefeint commented on #891
That was a good clue. The number of Spanner sessions in the sample app does seem unusually low! By default Spanner allocates a minimum of 100 and a maximum of 400 sessions.

Try updating maxSessions to a larger value.

[code]

We should still validate to make sure Spanner sessions get released properly.

[2022-01-21 20:03] gombasp commented on #891
I only set it to 10 so the POC would fail sooner - dont need to wait until it reaches the 100 ;) Seems that it dies after the 10th try to read , so i suspect there is a session release issue maybe as you say.
In production we use the values you mentioned.

[2022-01-21 21:25] blakeli0 commented on #891
Hi @gombasp @Daniel-OG thanks again for reporting this issue, we did more investigation and confirmed there is a [DB connection leak](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/e8b2fc0ca67bb47c0140d180cb085589d3dcd15d/spring-cloud-gcp-autoconfigure/src/main/java/com/google/cloud/spring/autoconfigure/spanner/health/SpannerHealthIndicator.java#L57) in the built-in Spanner health ch

[2022-01-23 23:32] tadas-subonis commented on #648
How can I disable this entirely?

[2022-01-23 23:41] tadas-subonis commented on #648
[code]

[2022-01-24 16:27] mpeddada1 opened #901 "Introduce property to enable JDBC support for Cloud SQL"
Follow-up to #772

[2022-01-24 16:51] elefeint commented on #891
Second half of #790 likely the same issue ([comment](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/issues/790#issuecomment-995603045))

[2022-01-25 00:12] mpeddada1 opened #904 "Add documentation for R2DBC support"
The documentation will need to be added to: `cloud-sql.adoc`. Include the following:
- Information about property to turn off jdbc support.
- Information about property to turn off r2dbc support.
- Links to R2DBC samples.
- Information about how the R2DBC environment post processor connects to Spring R2DBC.

[2022-01-25 02:44] itsliang commented on #648
@elefeint Yes, it happened on startup with "Validation of health indicator failed" exception. I didn't test it further, so I don't know if it will failed during regular operation.

[2022-01-25 06:03] beunick opened #905 "Application cannot start after migration to gcp-datastore 3.0.0"
I migrate from  version of datastore

`	<dependency>
		    <groupId>org.springframework.cloud</groupId>
		    <artifactId>spring-cloud-gcp-starter-data-datastore</artifactId>
		    <version>1.2.8.RELEASE</version>
		</dependency>`

to this version

`	<dependencyManagement>
  <dependencies>
    <dependency>
      <groupId>com.google.cloud</groupId>
      <artifactId>spring-cloud-gcp-dependencies</a

[2022-01-25 14:56] elefeint commented on #905
@beunick Could you get the Spring Boot bean autoconfiguration debug report (with `--debug=true` [when starting the app](https://docs.spring.io/spring-boot/docs/current/reference/html/features.html#features.spring-application.startup-failure))?

Also, take a look at the [Datastore sample application](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-samples/spring-c

[2022-01-25 17:23] beunick commented on #905
@elefeint Thanks for the note. I was able to figure out the issue with the ressources you sent.
I think the problem was due to the fact that I was using an older version of cloud storage. I should have use the same version for gcloud storage and datastore... Thanks

[2022-01-25 17:23] #905 closed

[2022-01-25 17:32] beunick opened #907 "Does Transactional RollbackFor supported in Datastore ?"
I have a method in my service like this

`@Transactional(rollbackFor = { ExceptionCanBeThrow.class })
public Something method() throws ExceptionCanBeThrow {
   // Logic to write in the DB
   // Logic that might thrown the exception.
}`

The problem is when the exception is raised and handle the rollback to the Datastore is not working.  The data is commit in datastore.
I wonder if the Rollback is

[2022-01-25 17:58] elefeint commented on #907
Does rollback work for the general case, without `rollbackFor` specified?
Do you have `@EnableTransactionManagement` annotation in the application?

There is a [sample application](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/tree/v3.0.0/spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample) showing how transactions work in Datastore. We never tested a specific exception type

[2022-01-25 20:25] #891 closed

[2022-01-25 22:01] #901 closed

[2022-01-26 04:07] beunick commented on #907
@elefeint thanks for the note.
I am not sure if this framework support all the requirement of the transaction of Spring.
When for example I have a scenario of Transaction Propagation meaning:  a method with @transactional which called another method with @transactional, I received an error message like:

**"Participating in existing transactions is not supported - when 'isExistingTransaction' retu

[2022-01-26 14:13] elefeint commented on #907
This error message comes from Spring. It sounds like you are trying to set rollback behavior on only a child transaction -- while transaction propagation is supported (see [docs](https://googlecloudplatform.github.io/spring-cloud-gcp/3.0.0/reference/html/index.html#declarative-transactions-with-transactional-annotation-2), rolling back child transaction is not.

We are happy to accept contribution

[2022-01-26 17:58] hfgbarrigas commented on #893
@elefeint thanks for your example.

I took a stab at doing this in a Webfilter but felt too soon in the chain (raw DataBuffer and no de-serialisation) and didn't like subscribing or wrapping the body (or caching). Here's what I came up with:

[code]
Maybe it's useful for someone else. Let me know if you spot anything wrong or worth changing.

[2022-01-26 23:31] #790 closed

[2022-01-27 16:48] mpeddada1 commented on #892
Thank you for the context, @jalvarez2000. Our team is currently looking into this.

[2022-01-28 19:09] #879 closed

[2022-01-28 20:29] elefeint commented on #648
Thanks! We'll remove the startup check in a future release.

[2022-01-28 20:32] elefeint commented on #893
This looks like a useful operator-like approach for reactive push applications. Thanks!

[2022-01-31 14:40] elefeint commented on #844
@gabac I've confirmed that PDF, TIFF and GIF files are expected to use `BatchAnnotateFiles` endpoint.

If you are interested in sending a PR, we'll be happy to review and accept it.

[2022-02-03 16:56] ilyafrank2021 opened #936 "SpannerRepository.findAllById() returns all the contents of the table if passed an empty list."
**Describe the bug**
If you call SpannerRepository.findAllById() with an empty list, it will return the entire contents of the table. The problem is in this piece of code:

https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/3dc249636a60e0f06af82cb924e1145d77cb1e36/spring-cloud-gcp-data-spanner/src/main/java/com/google/cloud/spring/data/spanner/repository/query/SpannerStatementQueryExecut

[2022-02-03 17:06] elefeint commented on #936
@ilyafrank2021 Thank you for reporting the bug! This will be fixed in #934.

[2022-02-03 21:23] elefeint opened #938 "Add deployment instructions for Cloud Run"
Some of the sample apps have deployment to AppEngine instructions. We should have Cloud Run in addition to or instead of.

[2022-02-05 19:52] jjathman opened #939 "Firestore Data Mapping Does not work with Groovy Classes"
**Describe the bug**
It currently seems impossible to use a Groovy class as the object to save to Firestore due to the object mapping attempting to map some of the "hidden" fields that Groovy automatically adds to every class. I don't think there is any available configuration which allows for excluding these fields.

**Sample**

`Data.groovy`
[code]

Attempting to save this document will generate

[2022-02-07 15:10] elefeint commented on #939
Spring Data already has handling for [excluding such autogenerated fields](https://github.com/spring-projects/spring-data-commons/blob/788457c90132ae7ca893791d091279faa8e76abe/src/main/java/org/springframework/data/mapping/context/AbstractMappingContext.java#L695), so this is likely a matter of finding where the Firestore implementation missed plugging into the property exclusion process.

[2022-02-07 15:35] #904 closed

[2022-02-07 16:25] jjathman commented on #939
That’s very interesting. Good find! Hopefully that means it’s not too much work to support it in the future.

[2022-02-10 16:58] amrnarvar opened #943 "preparePartTreeSqlTagParameterMap breaks if the Pageable parameter is not the last"
**Describe the bug**
Please provide details of the problem, including the version of Spring Cloud that you
are using.
spring cloud version 3.1.0
**Sample**
Page<ConsumerEvent> findAllByXAndY(
      Pageable pageable, String X, String Y)
If possible, please provide a test case or sample application that reproduces
the problem. This makes it much easier for us to diagnose the problem and to verify t

[2022-02-10 18:08] amrnarvar commented on #600
Any ETA for this fix?

[2022-02-10 22:06] lucasoares opened #944 "Transaction error using Spanner JDBC with JPA and Spring Cloud GCP Datastore in the same project"
Hello.

I'm trying to configure a single project using Spring Data JPA + Spanner using JDBC connector and also the Spring Cloud GCP Datastore support.

I'm able to read data from both Spanner and Datastore even tho they are located in different GCP projects. The problem is when I try to save any entity (or perform a primary key operation which have a transaction behind the scenes) I get the follow

[2022-02-11 01:36] lucasoares commented on #944
I tested with another application that doesn't use the Datastore itself but had the `spring-cloud-gcp-data-datastore` dependency in its classpath by mistake (was inheriting from another dependency) and the result is the same. Trying to insert data using JPA repository throws an exception.

For some reason it is not necessary to have the starter dependency `spring-cloud-gcp-starter-data-datastore`

[2022-02-11 19:14] #205 closed

[2022-02-11 21:37] zhumin8 commented on #943
Thanks for catching this and pointing to the method that breaks. We'll fix this soon.
For the time being, you are right Pageable parameter need to be the last parameter for it to work.

[2022-02-13 02:40] #650 closed

[2022-02-14 09:06] spyros87 opened #949 "Can other modules of GCP support IAM authentication?"
Cloud SQL Postgres supports passwordless authentication using IAM roles. On the other hand, the rest of GCP modules require a credentials file for accessing these modules.

It could be great if there is a solution which provides an IAM authentication to service accounts so that they are able to work without the need for providing credential files to the Spring App for authentication

[2022-02-14 15:01] elefeint commented on #949
All Spring Cloud GCP modules allow you to authenticate with a service account by using either Application Default Credentials or a JSON key ([documentation](https://googlecloudplatform.github.io/spring-cloud-gcp/3.0.0/reference/html/index.html#credentials)).

You can set specific IAM permissions for the service/user account you are using in Cloud Console.

It sounds like your usecase is to authent

[2022-02-15 17:00] elefeint commented on #939
Leaving it open as a new feature.

[2022-02-15 17:16] elefeint opened #952 "Change how maven child module <url> is generated"
Right now, Maven artifact publishing concatenates a [valid URL from the parent](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/5c31c815475244109c935a52a227118a1fcb3d51/pom.xml#L12) with the module name, resulting in an invalid URL for all child modules.

We should set `child.project.url.inherit.append.path` to `false`, so that the parent URL is inherited instead.

[2022-02-16 23:45] raszkiewicz opened #955 "Problem with GCP Secret Manager and Spring Boot app"
Spring Boot (2.5.7) has problem to access password from the GCP Secret Manager using `spring-cloud-gcp-starter-secretmanager` ver 2.0.7 throwing error

[code]

for a passsword declared in the application.properties as

[code]

when I will replace it with regular string or even env variable it will work fine.

Failing part of the code looks like:

[code]

Any thoughts?

[2022-02-17 15:41] elefeint commented on #955
@raszkiewicz Did this work with Spring Boot 2.4.x in the past? Could you create a minimal sample demonstrating the problem?
This is most likely blocked by #149, since order in which the current Secret Manager configuration is applied is not very flexible.

Most likely, Feign autoconfiguration happens early on, before `GcpSecretManagerEnvironmentPostProcessor` had a chance to run and introduce `Byt

[2022-02-17 16:15] elefeint commented on #955
Registering custom converters at the correct phase will likely work. [This is what the converters should look like](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/v3.0.0/spring-cloud-gcp-autoconfigure/src/main/java/com/google/cloud/spring/autoconfigure/secretmanager/GcpSecretManagerEnvironmentPostProcessor.java#L36-L55).

[2022-02-17 19:29] elefeint commented on #654
Fixed in #843

[2022-02-17 19:29] #654 closed

[2022-02-17 19:30] elefeint commented on #630
Fixed in #760.

[2022-02-17 19:30] #630 closed

[2022-02-17 19:30] elefeint commented on #595
Obsolete, as Spring Boot 2.4 is out of support window.

[2022-02-17 19:30] #595 closed

[2022-02-17 19:31] elefeint commented on #575
Closing this, since the switchover is complete, and we have follow-up issues for exceptions.

[2022-02-18 09:33] michalstefanext opened #956 "Spring Boot 2.5.8 graceful shutdown - java.util.concurrent.RejectedExecutionException"
I am not 100% sure if this is an issue, but every time I shutdown the spring boot application (version 2.5.8) using:

- spring.cloud.gcp.pubsub v3.1.0
- having subscriber using PubSubInboundChannelAdapter (spring integration)
- using server.shutdown=graceful for spring boot app

I get this exception from Subscriber:

[code]

Is there a way how to make it shutdown gracefully without exception pleas

[2022-02-18 10:31] seleroy opened #957 "ScheduledThreadPoolExecutor not closing down"
Hello,

I am using spring-cloud-gcp version 3.0.0 with Spring boot 2.6.2. I have a subscriber consuming from a Pubsub subscription
I have an issue on a server, where the JVM receives a signal and is requested to shutdown. I can see in the thread dump that we have the "Signal Dispatcher", "SpringApplicationShutdownHook" and "DestroyJavaVM" threads in a runnable/alive state so the JVM is really tryi

[2022-02-18 14:45] elefeint commented on #956
`RejectedExecutionException` means the threadpool is in the process of gracefully shutting down, but was asked to do additional work, and firmly said no.

On the one hand, this is not a problem because it's a normal scenario -- a Pub/Sub message is trying to come in from a gRPC stream. On the other hand, we should probably try to shut down the adapter before the thread pool itself closes to avoid

[2022-02-18 14:52] elefeint commented on #957
Thank you for the report!
Are you constructing `PubSubSubscriberTemplate`, `PublisherFactory` and `SubscriberFactory` objects or injecting the autoconfigured ones?

Also, is this new behavior -- did this happen with an older version of Spring Cloud GCP?

The `destroy()` method is an implementation of `DisposableBean`, so Spring will call it automatically ([docs](https://docs.spring.io/spring-frame

[2022-02-18 15:08] seleroy commented on #957
Hi,
Here is my bean config. I just have a special case to support using the emulator, but otherwise I use the defaults as much as possible:

`    @Bean
    public GcpProjectIdProvider projectIdProvider(@Value("${spring.cloud.gcp.pubsub.project-id}") String projectId) {
        return new DefaultGcpProjectIdProvider() {
            @Override
            public String getProjectId() {

[2022-02-19 01:23] elefeint commented on #149
The release unblocked this features' development, but we have not been able to get to doing it.

[2022-02-19 01:32] elefeint commented on #878
Never happened; on vacation now.

@bitbythecron Did you ever figure it out?

[2022-02-19 01:35] elefeint commented on #944
I did not look into it, and I am going on vacation; someone else will pick this up.

@lucasoares Did disabling datastore autoconfiguration mitigate the issue for you?

[2022-02-21 10:01] seleroy commented on #957
Hi Elena,
Thank you for your feedback. I have simplified our bean config so that we let the autoconfiguration create the SubscriberFactory and PubsubTemplate beans as we don't really need a special configuration. That should let the autoconfiguration take care of creating and destroying the thread pool executor properly.

[2022-02-22 14:51] meltsufin commented on #957
Thank you for the update. I will close this, but if the issue comes back with the new configuration, please re-open.

[2022-02-22 14:51] #957 closed

[2022-02-22 18:42] raszkiewicz commented on #149
OK. I  have added working solution to the #955  ticket

[2022-02-22 18:43] raszkiewicz commented on #955
Basically, the solution that works is to implement a Custom Converter which implements the Generic Conversion Service and register the Converter in the main method before calling `SpringApplication.run`.

[code]

and custom converter:

[code]

[2022-02-22 19:21] #943 closed

[2022-02-23 09:34] spyros87 commented on #949
That's the typical use case except the Postgres Cloud SQL where you authenticate using a user with just the IAM credentials via the `Cloud SQL socket factory`. Locally you can use an impersonation of the IAM and connect to a remote instance.

My initial intention was to have an IAM authentication similar to the Database for other GCP modules without the need to provide any static credentials insid

[2022-02-23 15:08] meltsufin commented on #949
I'm still a little lost in what you're trying to do. Can you give an example of how you would do this without Spring Cloud GCP? Remember, Spring Cloud GCP is wrapping GPC libraries. So, if it's possible to do directly with the Postgres Cloud SQL connector, we should be able to do it with Spring Cloud GCP.

[2022-02-24 09:42] michalstefanext opened #963 "PubSubInboundChannelAdapter does not allow null payload"
Hello, I would like to ask, if there is any possibility to receive message with empty payload via PubSubInboundChannelAdapter? It seems to me that this is impossible, however that is perfectly valid scenario in gcp pubsub.

`java.lang.IllegalArgumentException: payload must not be null
	at org.springframework.util.Assert.notNull(Assert.java:201)
	at org.springframework.integration.support.MessageBu

[2022-02-24 14:41] meltsufin commented on #963
@michalstefanext This is a validation in Spring Integration itself `org.springframework.integration.support.MessageBuilder`. I'm not sure why they prevent `null`s for the message payload.

cc/ @artembilan

[2022-02-28 15:15] artembilan commented on #963
See here for more info: https://jira.spring.io/projects/INT/issues/INT-997

But generally speaking the `null` payload was never supported: no data - no message.
So, yo need to consider some rework in the `PubSubInboundChannelAdapter` to prevent such a null to be emitted or some other wrapper object, like we have with `KafkaNull` as a tombstone signal to send and receive `null` from Apache Kafka.
T

[2022-02-28 18:13] meltsufin commented on #963
Thanks @artembilan! It seems that something like a `PubSubNull` would be the way to go. It will require some changes to `PubSubInboundChannelAdapter` and our message conversion logic to ensure that `PubSubNull` is converted to `null` when needed.
We'll accept it as a feature request.

[2022-02-28 18:49] meltsufin commented on #149
Thanks! We'll still keep this open for the "proper" fix.

[2022-02-28 18:50] meltsufin commented on #955
Thanks for the update!

[2022-02-28 18:50] #955 closed

[2022-02-28 18:53] meltsufin commented on #956
Thanks for the update! Would you be able to provide some sample code that reproduces this error? Thanks!

[2022-03-01 18:44] meltsufin commented on #844
@florian-3ap I'm wondering whether the `DocumentOcrTemplate` is relevant to your use-case? It does operate asynchronously via Google Storage. So, there's that difference.
See: https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#cloud-vision-ocr-dependencies

[2022-03-01 22:02] florian-3ap commented on #844
@meltsufin We do not store the document in a bucket before the OCR extraction. Therefore this `DocumentOcrTemplate` is not a possible option for us.

[2022-03-02 13:05] michalstefanext commented on #648
@elefeint By saying "We'll remove the startup check in a future release.", you mean there will be no connectivity check during startup in future release or it means something else? Thanks.

[2022-03-03 17:43] #844 closed

[2022-03-06 00:40] beunick opened #978 "Retrieving Child Entity in one request"
Hello All,
What is the best way to retrieve child entities in one request to Datastore using spring boot.
For examples in this scenario below, how can I retrieve the list of Product entities when I retrieve the list of Invoices ? Thanks for your help.

Here are the entities.
**The Invoice entity:**
`@Entity(name="invoice")
public class Invoice {
	@Id
	private Key id;
	private List<Item> items;
}`

[2022-03-07 16:41] stefanscheidt opened #982 "Spring Cloud refresh causes CloudSqlEnvironmentPostProcessor to throw IllegalStateException"
When exposing the actuator endpoint `refresh` provided by Spring Cloud, calling this endpoint will lead to a re-execution of `CloudSqlEnvironmentPostProcessor:: postProcessEnvironment`. At the end of this method, the static method `CoreSocketFactory::setApplicationName` will be called. In this state, the `coreSocketFactory` singleton inside of `CoreSocketFactory` will not be null, thus `CoreSocket

[2022-03-07 21:21] mpeddada1 commented on #978
Hi @beunick, thanks for the question. Parent and child relationships are supported via the @Descendant annotation. This [section in our official docs ](https://docs.spring.io/spring-cloud-gcp/docs/current/reference/html/datastore.html#_ancestor_descendant_relationships) provides some information on how that can be established.

In this case, you may need to do something similar where you annotate

[2022-03-07 21:51] mpeddada1 commented on #982
Thank you for bringing this to our attention @stefanscheidt! would you be able to provide a small reproducer sample so that we can explore this further?

[2022-03-08 14:45] stefanscheidt commented on #982
Hi - Thanks for the quick reply!

I can build a simple [Spring Initializr](https://start.spring.io/) based Spring Boot service with the necessary dependencies and configuration that would cause the problem when deployed to an actual environment with CloudSQL access. Only in this case (see <https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-autoconfigure/src/main/jav

[2022-03-08 22:42] mpeddada1 commented on #982
Yes, that would be helpful. Any reproducible example that results in the same error would be great. Feel free to share the configurations you are setting (if they don't contain any sensitive info) as well.

[2022-03-09 08:11] stefanscheidt commented on #982
OK. I was just now able to reproduce the problem with our Spring Boot service running locally using `gcloud auth application-default login`. I will try to strip down this service to the bare minimum and push it with a README to a public GitHub repo - but probably not before beginning of next week.

[2022-03-09 18:29] elefeint commented on #648
Yes; we should not be preventing application startup on healthcheck failure, especially since we are seeing false positive failures. That's a higher level decision that should be up to each individual application.

[2022-03-09 22:09] suztomo opened #992 "spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample throws NOT_FOUND: Resource not found (resource=traceSubscription)"
**Describe the bug**

I was trying spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample but it throws the following error.

[code]

**Sample**

spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample

[2022-03-09 22:09] suztomo commented on #992
I was missing this step in the README document.

[2022-03-09 22:09] #992 closed

[2022-03-10 20:20] mpeddada1 commented on #982
Awesome, looking forward to it.

[2022-03-11 12:12] michalstefanext commented on #956
Apologies @meltsufin, we've switched from spring-integration to use spring-cloud-gcp-pubsub directly, so we're no longer facing this issue + we have removed the branch with previous spring-integration code, so I believe it will be better to close this issue, but thanks for your help!

[2022-03-11 12:12] #956 closed

[2022-03-11 17:50] stefanscheidt commented on #982
You can find the sample application to reproduce the issue [here](https://github.com/stefanscheidt/cloud-sql-sample).
Please let me know if you need further assistance reproducing the issue.

[2022-03-14 20:39] meltsufin commented on #982
@stefanscheidt Thanks for the reproducer and detailed instructions on how to run. We can work around this failure as in #1002. However, it won't actually refresh credentials and such because `CoreSocketFactory.getInstance()` creates a singleton without any way to reset it. We need to add the reset capability to the `jdbc-socket-factory-core`.

[2022-03-14 21:24] stefanscheidt commented on #982
Hi @meltsufin thanks for the suggested fix. But actually the use case we had in mind was exactly a refresh after a change of the credentials of the service account that is used to establish the connection to the Cloud SQL database. Thus #1002 alone wouldn't help us, we would need https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/issues/776 too. I will track this issue.

[2022-03-15 15:28] bohdanowicz opened #1005 "Wrong mechanism for creating subscription specific FlowControlSettings in GcpPubSubAutoConfiguration"
In class `GcpPubSubAutoConfiguration` in method `createAndRegisterSelectiveFlowControlSettings` you are iterating over entries in subscriber map:
`for (Map.Entry<String, PubSubConfiguration.Subscriber> subscription :
        subscriberMap.entrySet())`
The issue here is that within this loop you are also calling:
[code]
Which underneath executes method `getSubscriber` from class `com.google.cloud.s

[2022-03-15 15:31] elefeint commented on #1005
@mpeddada1 Could you take a look?

[2022-03-15 16:38] mpeddada1 commented on #1005
Hi @bohdanowicz, thanks for bringing this up. Please allow me to reiterate the problem statement to make sure that I understood the situation accurately. So this block of code ensures that we store fully qualified names instead of a subscription names to reduce the likelihood of subscription names with different project ids clashing with each other. However, in the process of doing that, we are ed

[2022-03-15 22:11] elefeint commented on #952
#1007 worked. By the way, all of our starters point to their own github repository instead of the Spring docs site. It's not a problem, but it's a slightly odd inconsistency.

[2022-03-15 22:11] #952 closed

[2022-03-17 20:41] saravg2012 commented on #648
Correct Answer

[2022-03-17 20:41] saravg2012 commented on #648
YES. Correct answer is : management.health.pubsub.enabled=false

[2022-03-18 12:22] wleese opened #1015 "Support for Google BigQuery Storage Client for Java"
**Is your feature request related to a problem? Please describe.**
With the latest version of spring-cloud-gcp available as of writing, I'd like to be able to use the BigQuery write-api as described on https://cloud.google.com/bigquery/docs/write-api
It would seem that currently only the older methods of writing data are supported.

**Describe the solution you'd like**
I'd like spring-cloud-gcp bi

[2022-03-18 13:43] elefeint commented on #1015
Thanks for the request!
Does your current use-case require directly interacting with BigQuery, or is it for a Spring Integration-based application?

[2022-03-20 08:14] wleese commented on #1015
@elefeint Indeed we'd like to specifically interact with BigQuery, as within the company certain data will only be available there (provided by users or other applications), and/or because BigQuery provides a nice interface for our Business Analysts and engineers to work with, etc, etc.

Within our company, there could be quite a few reasons to want to use BigQuery directly.

[2022-03-21 12:54] elefeint commented on #1015
Then until we provide built-in support in this project, you have a good workaround by using the BigQuery client library exactly as described in the documentation.
Spring Cloud GCP does not currently autoconfigure `BigQueryWriteClient` object for you, so you would configure one manually.

[2022-03-21 13:41] elefeint commented on #1005
@mpeddada1 yes; it would be safest to treat all `@ConfigurationProperties` as immutable. One way to make this safer would be to allow only `getSubscriptionKeys()` instead of `getSubscription()`. Another way would be, like you said, to return a different map with pre-calculated fully qualified keys.

I am also separately curious about the issue @bohdanowicz mentioned of not being able to use fully-

[2022-03-21 15:17] elefeint commented on #982
@stefanscheidt Thanks for confirming!

[2022-03-22 08:41] cranberrysoft opened #1024 "Add support for inserting only for DatastoreOperations"
Currently, there is no way in Spring Data Datastore GCP to insert only an Entity for both Repositories and DatastoreTemplate.

https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/2b1100817fc5eb1017e395ec431f2f209546eac1/spring-cloud-gcp-data-datastore/src/main/java/com/google/cloud/spring/data/datastore/core/DatastoreOperations.java#L61
https://googleapis.dev/java/spring-cloud-gcp/latest/

[2022-03-22 13:46] #648 closed

[2022-03-22 15:09] zhumin8 commented on #1024
Thanks for your request. To clarify on your use-case, the current `save` method inserts an entity if it does not exist, updates it otherwise. It already guarantees no duplicated ID inserted to your Database.

If you need to do insert only and skip when ID already existing, as a work around, you can achieve by adding a read logic to check if already in Database.

[2022-03-22 22:08] cranberrysoft commented on #1024
Hey, @zhumin8 my specific use case is for deduplicating messages coming from a message broker. I wanted to use the atomicity of insert for Datastore.

Does it mean if I run read() and save() within the same transaction for an entity with a key "KEY" only one transaction would finish successfully and other transactions would fail, assuming the operation would run concurrently?

According to the Dat

[2022-03-23 16:51] zhumin8 commented on #1024
Glad that the workaround works for you.
We'll consider this `insert()` method as an enhancement at the `DatastoreTemplate` level. And we are happy to review code if you are interested in contributing.

To your other questions:

Yes, we'd like to keep these implementation details private so we don't break backward compatibility when possibly changing them in the future.

This sounds interesting. Co

[2022-03-25 10:54] lisamittmann opened #1036 "Access multiple namespaces within one thread"
**Is your feature request related to a problem? Please describe.**
Hey - I am trying ti figure out how to access multiple namespaces within on thread. I have a spring boot set up and when a request is coming in, I need to access multiple namespaces to process it. In the first step I need to retrieve data from one namespace based on the incoming request. This is information is then used to process

[2022-03-25 14:05] elefeint commented on #1036
Namespaces are meant to partition data that has the same structure (same entities) but is used by different tenants. In your use-case, the entities are different, so the data would already be separated by `kind`.

For a custom Kind name that differs from the class name, you can pass it to the `@Entity` annotation:
[code]

[2022-03-25 14:15] lisamittmann commented on #1036
Hey @elefeint thx for the quick reply. When separating data by kind, the different entities would still end up in the same namespace, correctly?

We are actually trying to reuse a dataset within different applications. We have application A with namespace A and application B with namespace B. Also we have application C with a common namespace C which application A + B need to access.
Is there a wa

[2022-03-25 14:48] elefeint commented on #1036
Without specifying a namespace, all datastore entities get saved into the default namespace. I think the term "entity" might be creating confusion. A Datastore Entity is a single object, equivalent to a row in a relational database. A Spring Data Entity is a class corresponding to a table in a relational database, or a *kind* in Datastore. So you can have a Spring Data Entity corresponding to a Da

[2022-03-25 14:58] lisamittmann commented on #1036
@elefeint thx for the clarification.

In our used case application A, B and C do have different data kind structures, because each application has a different purpose, resulting in different data objects.

From your explanation I gather, though, that we're not using the namespaces correctly.
What would be your suggested data structure layout in this scenario?
All the applications run within the sa

[2022-04-04 01:51] dinvlad commented on #744
Is there an example on how to use it with `PatternLayoutEncoder` (which supports other information not seemingly available in `JsonLoggingEventEnhancer`, like method name etc)?

[2022-04-06 14:29] ablx opened #1055 "Postgres enableIamAuth not working (missing documentation)"
**Describe the bug**
I want to use IAM based authentication and configured my Spring Boot Application as described in the documentation (https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#cloud-sql-iam-database-authentication)

However, the application is not able to login; it does not seem to use IAM at all.

application.properties
[code]
Spring versions and dependen

[2022-04-07 17:50] mpeddada1 commented on #1055
Hi @ablx, thanks for filing this issue. What do you get  when you set `spring.datasource.username` to the email associated with the IAM user? It is set to `postgres` by default but there is an option to customize it.

[2022-04-08 16:59] lesv opened #1058 "Kotlin sample doesn't appear to match Google Kotlin style guide"
I was looking at: https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-samples/spring-cloud-gcp-kotlin-samples/spring-cloud-gcp-kotlin-app-sample/src/main/kotlin/com/example/data/Person.kt

And noticed that the file uses tabs which isn't what's [recommended](https://developer.android.com/kotlin/style-guide).

[2022-04-08 17:27] elefeint commented on #1058
Using tabs was Spring Cloud style, used when this project lived under spring-cloud organization. After the last branch in that repo went out of support, we've switched the style to Google's default of spaces. However, because I used the google-java-format utility, XML files and Kotlin files were excluded.

We should reformat the rest of the codebase with spaces.

[2022-04-08 17:47] lesv opened #1060 "Kotlin Pub/Sub sample doesn't mention the need to "debounce""
https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-samples/spring-cloud-gcp-kotlin-samples/spring-cloud-gcp-kotlin-app-sample/src/main/kotlin/com/example/app/PubSubConfiguration.kt

**Describe the bug**
Our Pub/Sub service is really good at making sure that a message is delivered at least once to a subscriber, but messages can be delivered many times, this is non-in

[2022-04-08 18:06] elefeint commented on #1060
You and @ddobrin need to talk; he's been lobbying for more opinionated samples, too :)
There is a tension between having Very Simple samples to demonstrate how to use a particular library, and Real Use Scenario samples.
I'd love to have a searchable library of the latter kind (best practices, handling awkward use-cases such as debouncing) on cloud.google.com directly, and we'd be happy to cross-li

[2022-04-09 19:33] dvgaba opened #1064 "Allow GenericConverters to be passed to constructor for ConverterAwareMappingSpannerEntityProcessor"
**Is your feature request related to a problem? Please describe.**
Converter interface processing doesn't work with generics as at runtime type information is not available to the framework. It will be great if consumer can pass Generic Converter which allows them better control on type parameters and that will allow them to use configure generic converter implementation of multiple time.

**Descr

[2022-04-11 12:57] elefeint commented on #1064
Could you make a minimal sample application showing the entity with generic collections?

Implementation-wise, it's a valid feature request. I am curious, though, if Spring Data's internal behavior of passing collections around as arrays can be used to work around non-reifiable collection types.

[2022-04-11 13:47] dvgaba commented on #1064
Sure, will create a sample application and share. The issue is mainly due to missing type info at runtime. For cases like below

class CustomConverter<S> implements Converter<S, String> at runtime information available in processing is "type S" and because of that conversion fails.

class CustomConverter implements Converter<RealClass, String> this works.

I was hoping to get around with Condition

[2022-04-12 10:36] stellirin opened #1067 "logging: container_name is not set when using STACKDRIVER appender"
We want to use `spring-cloud-gcp-logging` with the `STACKDRIVER` appender from a service that runs in GKE. Our logs go to `projects/my-project-id/logs/spring.log` as expected, including trace and span. However in the `resource.labels` section the `container_name` is not set. All other fields in this section (`cluster_name`, `location`, `namespace_name`, `pod_name`, `project_id`) are all set to the

[2022-04-12 12:50] elefeint commented on #1067
It's a GKE-specific enhancement that's not currently part of our autoconfiguration. You can get this metadata with a workaround described here spring-attic/spring-cloud-gcp#2479.

[2022-04-13 15:01] stellirin commented on #1067
Thanks for confirming, we can at least use the `pod_name` field with a bit of regex matching.

I found the `MetadataConfig.getContainerName()` method but on GKE it returns `null`. I was also not able to find a configuration class for logging, the class in the linked issue seems to be only for metrics. At least it had no effect on logging when I tried it.

[2022-04-13 17:09] ddixit14 commented on #1067
Hi @stellirin, finding the container name in GKE is not supported yet.

[2022-04-13 17:15] elefeint commented on #1067
You can track the GKE feature request here: http://issuetracker.google.com/145137070

[2022-04-14 16:07] zhumin8 opened #1079 "Remove spring-cloud-build dependency from docs/pom.xml"
spring-cloud-build was removed in #804, investigate if this dependency in docs/pom.xml can also be removed.
If not, look into test failures in attempts to upgrade. #1076

[2022-04-15 22:58] zhumin8 commented on #1079
spring-cloud-build is needed in producing documentation files with `spring` profiles. Keeping it for now, upgrade and fix in #1084.

[2022-04-15 22:58] #1079 closed

[2022-04-18 22:03] Tsyklop opened #1090 "Storage: Error parsing token refresh response. Expected value access_token not found."
#### Environment details

OS type and version: **Windows 10**
Java version: **17**
spring-cloud-gcp-dependencies: 3.2.1

#### Steps to reproduce

  1. Download project below
  2. Change path to json key and project id in application.yml
  3. Start application and see logs

#### Code example

Small Spring boot 2 project. Put you Own json key and change path to in in application.yml
[gcp-storage-tes

[2022-04-22 02:35] dvgaba opened #1101 "Reading Uncommitted data in same transaction"
**Describe the bug**
In same @Transactional when we do multiple operations using Spring Repository we are not able to read data committed in same transaction
1. repo.save();
2. repo.findById() //This will not return data saved in earlier call, even though code is running in same transaction block.

The same work while using JDBC connection and setting auto commit as false.
1. Insert a record
2. Re

[2022-04-22 16:30] dvgaba commented on #1101
Test code is here

https://github.com/dvgaba/spanner-transaction-test

Sample output

`Insert counts: 1
 ==== ==== ==== ==== ==== from db via JDBC  ==== ==== ==== ==== ====98591012-a393-4aa2-9e7c-dd2c62db04a7
2022-04-22 12:26:00.614  INFO 27576 --- [           main] c.g.c.s.a.c.GcpContextAutoConfiguration  : The default project ID is central-weft-348007

 ==== ==== ==== ==== ==== ==== ====from db

[2022-04-25 14:12] elefeint commented on #1101
Like @zhumin8 said, you can't read uncommitted changes even while being in the same transaction. Another aspect described in the linked documentation explains why: "All reads within that transaction return data from the same timestamp." This timestamp by definition has to be before your current transaction began affecting data state; otherwise the timestamp before and after the write would have to

[2022-04-25 14:18] elefeint commented on #1101
Although it's interesting that JDBC driver behaves differently.
@olavloite Could you double check my thinking here -- if autocommit is off, then reading data after an insert should not return the newly inserted data?

[2022-04-25 14:49] dvgaba commented on #1101
@olavloite thanks. That makes sense and clarifies. Appreciated.

[2022-04-26 05:43] #1101 closed

[2022-04-27 09:25] damienhollis opened #1103 "PubSubInboundChannelAdapter swallows assertion errors"
**Describe the bug**
When a message is received via PubSubInboundChannelAdapter and during the message flow it causes an assertion error, there is absolutely no logging. If the adapter is configured to auto acknowledge, the message is simply redelivered over and over. This makes errors caused by assertions very hard to find.

All types of exception should be logged by the PubSubInboundChannelAdapt

[2022-04-27 21:45] daniele-dll opened #1104 "DataStoreTemplate namespace management"
**Is your feature request related to a problem? Please describe.**
Setting namespaces should be easy to do. Right now it's only possible to set a namespace, or one per thread with a threadlocal solution which is quite complicated and doesn't work for many use cases.

**Describe the solution you'd like**
Possibility to set/choose the namespaces when using DataStoreTemplate.

**Describe alternatives

[2022-04-28 12:57] elefeint commented on #1104
We've had a similar discussion in #1036. Similarly with that issue, we'd need to understand a bit more about your usecase for accessing the different namespaces manually. Namespaces in Datastore are different than in other databases -- they are meant to support multi-tenancy, rather then provide logical grouping of data.

[2022-04-28 13:15] daniele-dll commented on #1104
Our usecase is to manage multi-tenancy.
We want to use a namespace per user domain.
Our application is event driven, so we receive a pub/sub event, and in the event we have the id and tenant of the user.
We use that to retrieve the saved refresh token to make a call to another system with an access token.
In order to retrieve this info, we must go on the credentials entity of the user namespace.

[2022-04-28 13:33] elefeint commented on #1036
This specific usecase was not a fit, but a broader usecase that does require explicitly setting namespace is in #1104. Closing as duplicate.

[2022-04-28 13:33] #1036 closed

[2022-04-28 20:41] elefeint commented on #1103
@artembilan What is the general Spring Integration philosophy when handling `Error` type throwables? When implementing Pub/Sub adapters, we've done similarly to Spring Integration and made sure to handle any `RuntimeException`. It's understandable that `Error` should not be caught as a matter of Java philosophy, but has the use-case of assertions throwing `Error` subtypes come up before? The curre

[2022-04-28 20:50] elefeint commented on #1103
@damienhollis Also take a look at Spring `org.springframework.util.Assert` -- those utils throw runtime exceptions.

[2022-04-28 20:54] artembilan commented on #1103
It's not `PubSubInboundChannelAdapter` responsibility to do something with these type of errors.
If you really use `assert`, then it is better to localize it over there and not try to rely on some "magic" from the server.

The `PubSubInboundChannelAdapter` is based on the `MessageProducerSupport` which has a logic like this:
[code]

So, if you downstream flow throws a `RuntimeException` and you co

[2022-04-28 21:55] damienhollis commented on #1103
@elefeint and @artembilan thanks for your responses.

The fix for the particular case we encountered was to change the assert to a RuntimeException. So we have already implemented your proposed fix in our code.

However, my bigger concern is hitting other assertions in the code and that those will be silently ignored. To us, this seems like a very strange position to take for both spring-integrati

[2022-04-28 21:59] elefeint commented on #1103
The Java `Error`s won't normally get caught by anything, so they would cause the application to terminate. They would not get ignored. Do you have something in the code catching all `Throwable`s perhaps?

[2022-04-28 22:05] artembilan commented on #1103
Yes, that was my thought, too. Spring Integration only catches those `RuntimeException`s. The rest are just re-thrown back to the library generating data for messages in such a channel adapter. In our case it is Pub/Sub subscriber. So, we need to see what configuration is applied over there for those not handled errors.

[2022-04-28 23:00] damienhollis commented on #1103
The `Error`s are caught in `FutureTask`

[code]
and then nothing else happens with them.

The last pubsub code to deal with them is in `MessageDispatcher`:

[code]

[2022-05-02 17:20] elefeint commented on #827
Fixed in #1038

[2022-05-02 17:22] #827 closed

[2022-05-09 09:39] JakobFels opened #1113 "Reactive firestore repositories cause bean dependency cycle when used in a MeterBinder"
Spring Boot version: 2.6.7
Spring cloud gcp version (BOM): 3.2.1

We seem to be running into an issue similar to https://github.com/spring-projects/spring-boot/issues/27591.
We recently migrated one of our metric sources to use a spring data repository. This seems to cause a bean dependency cycle caused by `startupTimeMetrics` (See attached bean cycle screenshot).
![image](https://user-images.gith

[2022-05-09 15:17] JakobFels commented on #1113
Hi,

The issue does not occur in a 'plain' spring data application, using spring data jpa for example (see https://github.com/spring-projects/spring-boot/issues/30902)
The cycle is only present if a firestore repository is used.

[2022-05-10 11:28] lkleeven opened #1115 "Add instance and database to Spanner emulator startup"
**Is your feature request related to a problem? Please describe.**
We're using the [Spanner emulator docker image](https://cloud.google.com/spanner/docs/emulator#docker) for integration testing our Spanner database. What we're currently missing is an easy way to provide the Spanner emulator with the instance and database to create. Currently this only seems possible through added scripts and/or co

[2022-05-10 13:17] elefeint commented on #1115
I see that you've filed a similar issue against `gcloud` CLI. That's ultimately a better place for this feature request, since Spring Cloud GCP only addresses a subset of Java users.
I will close this issue in favor of https://issuetracker.google.com/231997056

[2022-05-10 13:17] #1115 closed

[2022-05-10 21:30] oliverhenlich commented on #1103
I agree with this assessment.

If assertions don't get reported or logged anywhere (i.e. they are swallowed by the framework and it's components) does that mean there is an expectation that applications run with asserts turned off or that all relevant asserts be converted to RuntimeExceptions? It feels like if that is the case, that there should be a warning in the documentation about this. Perhap

[2022-05-11 13:52] elefeint commented on #1103
The mismatch is philosophical: Spring Integration expects to handle runtime exceptions, but allow the rest to kill the app (as is proper). Pub/Sub client library, however, must make sure message handling gets completed, no matter what. So the client library catches all Throwables, nacks them and moves on, preventing application shutdown.

We can probably catch-log-rethrow non-RuntimeException thro

[2022-05-12 00:07] damienhollis commented on #1103
We have treated asserts as checking preconditions but not necessarily as fatal to the whole application, so we have used them a lot. However, thinking more about it and the fact they are subclasses of Error, it makes sense to treat them as fatal in general. I think we will start to replace them with some kind of runtime exception but we can't do the overnight and if other types of errors occur, e.

[2022-05-12 18:50] ColeSiegelTR opened #1118 "spring-cloud-gcp-trace - how to add inject custom spans and include traceid in response"
Hi

I'm using https://github.com/GoogleCloudPlatform/spring-cloud-gcp/tree/main/spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample and it works great to push traces and associated logs to GCP, but I am trying to figure out how I can propagate the traceId into the response so that if errors occur we can easily look up this ID.

Also looking to add tracer decorator to specific code blocks in ord

[2022-05-12 20:09] PierrickPuimeanChieze opened #1119 "Data type custom converter for Spring Data Cloud Datastore"
**Is your feature request related to a problem? Please describe.**
I use some datatype which are not supported by spring cloud GCP, and it mess up with data serialization. For example, BigDecimal, java.time.Instante and other are not supported.

**Describe the solution you'd like**
A client-wide way to register custom converter would by nice. Something allowing to convert BigDecimal to double, or

[2022-05-13 14:27] elefeint commented on #1118
To find information about the current trace, inject a `org.springframework.cloud.sleuth.Tracer` into your code. This [StackOverflow answer](https://stackoverflow.com/a/57427497/10441462) has a code sample.

Annotating methods with [`@NewSpan`](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/c697d1555e55864ecf1ff81a058ca6a51e9af54b/spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample

[2022-05-15 13:20] SaurabhSingh92 opened #1122 "Inserting JSON data to spanner using the spring boot framework"
**Is your feature request related to a problem? Please describe.**
Spring-GCP-cloud framework for spanner don't support inserting a column with JSON datatype using java.
Tried using json-formatted-string but getting parsing issue. Code was not able to parse it to JSON hence datatype mismatch.

There is documentation of inserting a JSON type using mutation with the help of Value.json() method.

**D

[2022-05-15 13:57] SaurabhSingh92 commented on #1122
https://github.com/GoogleCloudPlatform/spring-cloud-gcp/issues/651

[2022-05-15 13:57] #1122 closed

[2022-05-16 18:30] ColeSiegelTR commented on #1118
Thanks a lot for the help @elefeint I was able to use the examples you provided to solve both the use cases.

[2022-05-16 18:30] #1118 closed

[2022-05-16 23:09] zhumin8 commented on #1119
Custom converters are already supported for Datastore. Refer to documentation [here](https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#custom-types-2) and [sample code](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/main/java/com/example/ConvertersExample.java#L27) for details.

[2022-05-18 14:03] gmorgen1 opened #1124 "PubSub only - Phantom attempted use of com/google/cloud/spring/data/datastore/core/DatastoreTransactionManager"
**Describe the bug**
Even though I have only included pubsub starter, GCP seems to be trying to autoconfigure everything causing problems.  I even explicitly disabled all other gcp features.

Spring Boot 2.6.7
Spring Cloud GCP 3.1.2

The only POM dependency is
			<groupId>com.google.cloud</groupId>
			<artifactId>spring-cloud-gcp-starter-pubsub</artifactId>

application.properties:
spring.cloud.gc

[2022-05-18 14:27] elefeint commented on #1124
Could you create a reproducible sample?

[2022-05-18 16:56] ColeSiegelTR opened #1125 "spring-cloud-gcp-starter-logging - custom logback configuration"
Hi,

I am wondering if there is a way to append a custom object to the log context `jsonPayload` with the `spring-cloud-gcp-starter-logging` library.

I've tried adding the object's properties to `MDC` which automatically includes them as key-values in the log `jsonPayload`, but I would like them to be nested inside an object.

I thought maybe the `customJson` option could help me (https://github.

[2022-05-18 17:20] elefeint commented on #1125
Actually, it's not the dependencies. `org.springframework.cloud.gcp.logging.StackdriverJsonLayout` is the wrong package -- it's `com.google.cloud` since v2.0

[2022-05-20 09:31] gomezAlvaro commented on #944
This is also happening for me, using only JPA + Datastore. Disabling the autoconfiguration is a workaround I guess, but not that nice.

It started happening after upgrading the spring-cloud-gcp-data-datastore, from 1.2.8.RELEASE, where the error was not present, to 2.0.10 where it is. I also tried going to the last version 3.2.1, but the same error is still there.

[2022-05-21 13:43] lucasoares commented on #944
I did not tried it, but in my use case this is not possible because I need the datastore. In the other project I had only the `spring-cloud-gcp-data-datastore` dependency, without the `starter` dependency and the same error occurs.

I don't think the problem is the autoconfiguration itself, since it comes from the `starter` dependency.

[2022-05-24 02:06] #1005 closed

[2022-05-24 02:08] elefeint commented on #1005
Sorry, missed the question. Allowing bean overriding would have worked.
The upcoming release should have this issue resolved, plus support fully-qualified subscription names.

[2022-05-25 08:25] poznachowski commented on #1005
@elefeint are you able to provide ETA for next release?

[2022-05-25 16:02] pkernevez opened #1141 "Unable to use spring-cloud-gcp-starter-secretmanager from eclipse-temurin:17-jdk-alpine"
**Describe the bug**
Version
[code]

**Sample**
When running a SpringBoot project with the secret manager activated, it crash the JVM at startup when trying to connect to GCP.
It work fine with other eclipse-temurin:17 distribution. I tested it with eclipse-temurin:17.0.3_7-jre-centos7 and eclipse-temurin:17.0.3_7-jre (debian).

An issue is also opened here https://github.com/adoptium/adoptium-sup

[2022-05-27 13:01] elefeint commented on #1005
Spring Cloud GCP 3.3.0 is out and has this fix.

[2022-05-31 09:55] stellirin opened #1154 "How to enforce usage of X-Cloud-Trace-Context header for Tracing?"
Current [documentation](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#tracing) for tracing states:

But testing found that the inverse is true. This is confirmed in the documentation for [`StackdriverTracePropagation`](https://github.com/openzipkin/zipkin-gcp/blob/master/propagation-stackdriver/src/main/java/brave/propagation/stackdriver/StackdriverTracePro

[2022-06-01 20:23] elefeint commented on #1103
I dug into this behavior again, and while we can work around it in the Spring Integration adapter, the same issue exists in the template level and the underlying client library.
I've filed googleapis/java-pubsub#1156 to fix the underlying issue.

You should definitely not keep java Error-throwing assertions in the production code, but at the same time, you are correct in that the Spring Cloud GCP

[2022-06-01 21:44] damienhollis commented on #1103
Thanks @elefeint - appreciate your work on this and logging `Error`s will be very helpful in general.

At the same time, we are actively working to remove asserts from our code base based on your suggestions and other reading we have done.

[2022-06-13 13:52] elefeint commented on #1103
Thanks! I'll close this issue for now; there will likely be nothing to do in Spring Cloud GCP once the underlying client library logging is added.

[2022-06-13 13:52] #1103 closed

[2022-06-13 14:14] #1154 closed

[2022-06-14 17:25] avanderveen opened #1168 "Spanner repo method generates invalid query for IsNotNull conditions"
**Describe the bug**
Generated queries for Spanner repository methods with an `IsNotNull` condition are invalid.

The `SpannerStatementQueryExecutor` generates an invalid query [here](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/v3.3.0/spring-cloud-gcp-data-spanner/src/main/java/com/google/cloud/spring/data/spanner/repository/query/SpannerStatementQueryExecutor.java#L691):
[code]

[2022-06-17 10:12] ilseva opened #1170 "links in RepositoryRestResource for @Descendants"
Hi,
is it possible to have links for `@Descendants` annotated properties in data returned by `GET /resources`?

entities
[code]

repository
[code]

If I call `GET /orders` I would like to have a json like
[code]
Is it possible? I try to annotate with @RestResource the `List<Item> items;` property without success.
Thanks.

[2022-06-17 19:42] zhumin8 commented on #1170
Hi, I did a quick test out of our sample entity [singer](spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/main/java/com/example/Singer.java) where `personalInstruments` is annotated with `@Descendants`.

`GET /singers` gives result below. So the full content of `personalInstruments` are already available by default, but not as link to descendants. This is expected behavior as we

[2022-06-17 20:33] #1168 closed

[2022-06-21 23:04] dinvlad opened #1172 "Exactly-once delivery for Pub/Sub stream binder"
**Is your feature request related to a problem? Please describe.**
Pub/Sub subscriptions have a (pre-GA) support for [exactly-once delivery](https://cloud.google.com/pubsub/docs/exactly-once-delivery). It can be enabled for new or existing subscriptions, which would be nice to do via Pub/Sub stream binder configuration(s). Currently, this can only be done out of band (manually or over the API).

*

[2022-06-21 23:30] elefeint commented on #1172
@dinvlad Thank you for the request -- we don't typically instrument pre-GA GCP features, but will keep it open for once it's GA.

[2022-06-24 14:23] elefeint commented on #1113
@JakobFels Thank you, the reproducer was very helpful. I've looked into it some more, and the issue is indeed not Firestore-specific.  As a workaround, avoid implementing `MeterBinder` -- adding gauges per [Spring Boot docs](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#actuator.metrics.registering-custom) will allow you to register the metrics after both the service and th

[2022-07-06 07:42] waytoharish opened #1181 "Method messageSender(java.lang.String) cannot be found"
Hi Team,
I am trying to use Spring integrated to Publish a message to GCP topic but i am getting below error
Method call: Method messageSender(java.lang.String) cannot be found

My Configuration Code is like-

Gateway
public interface PubsubOutboundGateway {
void sendToPubsub(String text);
}

Service Activator
https://github.com/component
public class GspConfig {

public MessageHandler messageSend

[2022-07-06 13:39] elefeint commented on #1181
It seems like a mismatch between XML configuration and Java-based configuration. `GspConfig` is a configuration class, and yet it's described as a service activator in the XML configuration. The service activator is being invoked with a `String` payload, but `messageSender()` does not accept this type of parameter.

It's unusual to see XML configuration and Java configuration together. For Spring

[2022-07-06 14:12] waytoharish commented on #1181
Thanks @elefeint .

I am able to do with Java annotation but requirement is to define and use it with the XML.

I am struggling with the xml configuration where messageSender expect  pubsubTemplate but i am not able to figure out how to map that in XML-

<int:service-activator
input-channel="myInputChannel"
ref="gspConfig"/>

public class GspConfig {
   public MessageHandler messageSender(PubSubTe

[2022-07-06 14:27] elefeint commented on #1181
If you are using XML config, the class `GspConfig` is not needed; you can define the bean of type `PubSubMessageHandler` in the XML config directly. Note that if you are not using autoconfiguration, you'll also have to set up XML wiring to create `PubSubTemplate`, replicating all of the [autoconfiguration](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/ed87b89b72826fb1dad5bb87f7c12ed

[2022-07-06 14:39] waytoharish commented on #1181
Thanks @elefeint .

I tried to do the same and removed the GspConfig  from the code but still not  getting an error

 <int:service-activator
            input-channel="myInputChannel"
            ref="pubSubHandlere">
    </int:service-activator>

    <bean id="pubSubHandlere" class="org.springframework.cloud.gcp.pubsub.integration.outbound.PubSubMessageHandler">
    <constructor-arg index="0" ref

[2022-07-06 14:40] elefeint commented on #1181
The same error?

[2022-07-06 14:47] waytoharish commented on #1181
This time different error-
2022-07-06 20:07:04.442  INFO 33569 --- [           main] o.apache.catalina.core.StandardService   : Stopping service [Tomcat]
2022-07-06 20:07:04.453  INFO 33569 --- [           main] ConditionEvaluationReportLoggingListener :

Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2022-07-06 20:07:04.468 ERROR

[2022-07-06 14:52] waytoharish commented on #1181
I tried to change that too

   <bean id="pubsubTemplate" class="org.springframework.cloud.gcp.pubsub.core.PubSubTemplate">
        <constructor-arg index="0" ref="publisherFactory"/>
        <constructor-arg index="1" value="subscriberFactory"/>
    </bean>

    <bean id="publisherFactory" class="org.springframework.cloud.gcp.pubsub.support.PublisherFactory"/>
    <bean id="subscriberFactory" clas

[2022-07-06 15:25] elefeint commented on #1181
The error message is descriptive: `Failed to instantiate [org.springframework.cloud.gcp.pubsub.core.PubSubTemplate]: No default constructor found; nested exception is java.lang.NoSuchMethodException: org.springframework.cloud.gcp.pubsub.core.PubSubTemplate()`. It is true that `PubSubTemplate` does not have a no-arg constructor.

Since you are not using autoconfiguration, you'll also have to set up

[2022-07-06 16:58] elefeint commented on #1181
`DefaultPublisherFactory` and `DefaultSubscriberFactory` also have constructor input requirements.

[2022-07-07 04:49] waytoharish commented on #1181
Thanks @elefeint .
I am able to do the same using the below XML for future reference
`<int:channel id="myInputChannel"></int:channel>

    <int:service-activator
            input-channel="myInputChannel"
            ref="pubSubHandlere">
    </int:service-activator>

    <bean id="pubSubHandlere" class="org.springframework.cloud.gcp.pubsub.integration.outbound.PubSubMessageHandler">
    <construc

[2022-07-07 04:50] #1181 closed

[2022-07-07 09:37] rapar8 opened #1182 "Consumer does not keep listening using - spring-cloud-gcp-pubsub-stream-binder WITHOUT web support"
keep Spring boot pubsub stream application running without Web server (tomcat).

Application works great with Tomcat(spring-boot-starter-web) but If I remove web support it is not keep listening to but shutdown.

Spring boot 2.7.1

spring-cloud-gcp-pubsub-stream-binder 3.3.0

All details are mentioned in [Stackoverflow](https://stackoverflow.com/questions/72868966/spring-stream-with-gcp-consumer-o

[2022-07-08 20:37] elefeint commented on #1182
This behavior is intentional, although I agree that it's unintuitive in the context of a Spring Cloud Stream application. There is a note about this [in the docs](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#subscribe-methods) --

[2022-07-08 20:43] elefeint commented on #1182
Reopening this because some bean names changed recently, and the documentation might not be up to date anymore.

[2022-07-08 20:57] elefeint commented on #1182
For your immediate need, adding these two beans should keep the application alive:

[code]

I am going to keep this issue open because we need to update the documentation, and consider either not deprecating this global property or (more likely) introducing a property for keeping autoconfiguration-created thread pools alive.

@mpeddada1 FYI.

[2022-07-12 09:54] rapar8 commented on #1182
I have added this 2 beans but it is still not keeping app Up.

`2022-07-12 11:50:52.407  INFO 4019 --- [ionShutdownHook] .g.c.s.p.i.i.PubSubInboundChannelAdapter : stopped com.google.cloud.spring.pubsub.integration.inbound.PubSubInboundChannelAdapter@670342a2
2022-07-12 11:50:52.408  INFO 4019 --- [ionShutdownHook] o.s.i.monitor.IntegrationMBeanExporter   : Registering MessageChannel my-topic.myGr

[2022-07-12 13:35] gaurav517 opened #1184 "fetch new secrets by spring-cloud-gcp-secretmanager after secrets updated in google-secret-manager."
Can `spring-cloud-gcp-secretmanager` fetch secrets in real time if a secret is changed? Or, secrets are only fetched during application start?
If it can fetch real time secrets update, then how is the cache configured? e.g. in case of a network issue etc., apps would continue to use values from cache?
Thanks.

[2022-07-12 17:31] zhumin8 commented on #1184
Our integration provides two ways of accessing secrets, if you use Secret Manager as a bootstrap property source, then secrets are loaded as properties into application context at application start, you can read more in [this doc section](https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#secret-manager-property-source).
We also provide `SecretManagerTemplate` class t

[2022-07-12 20:00] elefeint commented on #1182
As a workaround, add `@EnableScheduling` to your application, and add a bean like this to keep the application running:
[code]

[2022-07-19 20:26] elefeint commented on #1184
Let's test out how Secret Manager works with `@RefreshScope` nowadays. It is likely that we still have the issue spring-attic/spring-cloud-gcp#2485, since we never implemented the approach in #149.

@JoeWang1127 Take a look at the Secret Manager sample, and try to make it work with [`@RefreshScope`](https://docs.spring.io/spring-cloud-commons/docs/current/reference/html/#refresh-scope). This will

[2022-07-19 20:36] elefeint commented on #963
@emmileaf Take a look at this issue -- it's in the Spring Integration layer of Pub/Sub support.

[2022-07-20 20:20] emmileaf commented on #963
@michalstefanext Do you happen to remember what was the type of the empty payload (string, byte array, etc.) passed to the `PubSubInboundChannelAdapter`, and whether it went through any custom conversions or transformations?

I am having some difficulty reproducing the exception: directly receiving a pubsub message with empty body seems to be handled as expected (as empty strings and empty byte ar

[2022-07-22 10:33] breun commented on #88
Google provides a basic Java library for Pub/Sub Lite: https://cloud.google.com/pubsub/lite/docs/reference/libraries#client-libraries-install-java Spring Cloud GCP could auto-configure some beans based on that?

[2022-07-22 20:32] JoeWang1127 commented on #1184
I found a workaround while we are implementing #149 in [here](https://github.com/JoeWang1127/refreshable-secret-manager).
You can also integrate GCP pub/sub to refresh the secret automatically when a new version of secret is created, please check the docs [here](https://cloud.google.com/secret-manager/docs/event-notifications?_ga=2.178977190.-383158756.1656435995).

[2022-07-22 21:12] elefeint commented on #213
Perhaps as a new flag `spring.cloud.gcp.secretmanager.fail-if-absent` or similar. It would be true by default, keeping the current behavior. But if set to false, it will result in empty string being returned.

[2022-07-22 22:28] dzou commented on #213
Sorry, looking back at this discussion, this stems from a design mistake 😢  --

I made the mistake of putting the "colon" into our syntax, thinking that it would be like a URI. However, Spring properties also use `:` to indicate default values too. So for example,

This means we'll default to "default" if ENV_VAR_1 is not provided.

[code]

However, the `sm://` syntax kind of messes up the colon d

[2022-07-22 22:32] dzou commented on #1184
Wow! Nice one @JoeWang1127.

Fyi @elefeint -- Following up on our convo earlier, I originally thought we had to support `spring.config.import` in order to have refreshable secrets. And I think that's what we were discussing about that ConfigProperty that I deleted. Looks like Joe found a great solution tho!

[2022-07-25 13:23] elefeint commented on #1184
Yeah, it's a great workaround when you have a reasonable number of secrets, but if you have hundreds, having `@RefreshScope` configuration properties is more scalable. So ideally, we should make it work.

It's also been a couple of Spring Cloud versions already since bootstrap method became legacy. We need to switch to supporting config.import before the legacy way becomes legend...

[2022-07-25 14:30] elefeint commented on #213
Hmm. `sm://` was not an unreasonable choice for narrowing the list of properties for which the Secrets Manager backend is accessed, but I guess for application portability it's better to have secret-backend agnostic property names...

The switch to `sm://` was tied with the property source becoming not-enumerable. Arguably, we should switch from extending `EnumerablePropertySource` to extending `P

[2022-07-26 16:02] breun opened #1200 "Switch r2dbc-postgresql from groupId io.r2dbc to org.postgresql"
The [Spring Boot 2.7 release notes say](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.7-Release-Notes#r2dbc-driver-changes):

`com.google.cloud:spring-cloud-gcp-starter-sql-postgres-r2dbc:3.3.0` depends on `io.r2dbc:r2dbc-postgresql:0.8.12.RELEASE`. This needs to be changed to `org.postgresql:r2dbc-postgresql` in a future version to keep up with developments.

[2022-07-26 16:23] elefeint commented on #1200
Yep. I am working on it; it's blocking upgrade to Spring Boot 2.7.

[2022-07-26 20:42] maheshgattani opened #1201 "Implement minDurationPerAckExtension from cloud pubsub java client library"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Extend support for minDurationPerAckExtension from cloud pubsub java client library

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-07-27 03:31] waytoharish opened #1202 "Message ID set to publish message not found while receive a message"
Hi Team,
I am trying to set a custom message ID before publishing the message but when i am receiving the message i am not able to find the ID instead of that i am getting some random ID internally mapped-

Here is my Publisher code-

 PubsubMessage pubsubMessage=PubsubMessage.newBuilder()
                .setMessageId("1241241244")
                .setData(ByteString.copyFromUtf8("Test")).build()

[2022-07-27 04:39] eddumelendez commented on #710
@elefeint should we enough for now to add a deprecation of PubSubEmulator and update docs pointing to testcontainers' gcloud module? I think this can be a good first issue and I can help with that.

[2022-07-27 06:00] mmihira opened #1203 "Saving a child referenced via @LazyReference DatastoreDataException"
**Describe the bug**

Given Parent references a Child via @LazyReference.

Retrieve the parent, then access the child.
Make a modification to only the child and then attempt to save the child.
An error results:

error on save here: com.google.cloud.spring.data.datastore.core.mapping.DatastoreDataException: Cloud Datastore can only allocate IDs for Long and Key properties.
Cannot allocate for type:

[2022-07-27 14:06] elefeint commented on #710
`PubSubEmulator` was never available to users; it was an internal test utility.
It might be useful to link to Testcontainers' documentation in Spring Cloud GCP refdoc, showing how to use the different emulators.

[2022-07-27 14:08] elefeint commented on #1202
Message ID is not supposed to be populated by publisher -- see [docs](https://cloud.google.com/pubsub/docs/reference/rest/v1/PubsubMessage) for `messageId`:

If you'd like to add business metadata to a message, look into headers/attributes.

[2022-07-27 14:08] #1202 closed

[2022-07-28 19:04] zhumin8 commented on #1203
Thanks for reporting this, I was able to reproduce this issue and it looks like that writing/updating an entity that's lazy referenced is not supported in the code base as of now. We'll look into this bug a bit more.
In the meantime, a less ideal temporary workaround is to do a copy of this `retrievedChild` and saving this copy instead. Something similar to this for your sample code:
[code]

[2022-07-29 20:25] emmileaf commented on #231
Thank you @bijukunjummen for the contribution! We will review your PR for adding this check to the tests and addressing this issue.

I tried to reproduce this problem in both Java and Kotlin with Firestore emulator, but am also seeing the generated ID returned as expected, in line with earlier commenters.

[2022-07-29 21:38] elefeint commented on #1201
Thanks! Will add it after the fixit.

[2022-08-01 15:55] elefeint commented on #680
I have a diagram of Spring Data JDBC vs Spring Data JPA vs the Spring Cloud GCP custom implementation for this.

[2022-08-01 16:42] #821 closed

[2022-08-01 17:03] #746 closed

[2022-08-01 18:21] zhumin8 commented on #892
For context, question was filed to https://github.com/googleapis/java-datastore/issues/627.

[2022-08-01 20:09] elefeint commented on #710
I am going to close this issue since we are not planning to change test infrastructure.

[2022-08-01 20:09] #710 closed

[2022-08-01 20:10] zhumin8 commented on #438
update: Spring Data Common has added ["support for property-specific converters"](https://github.com/spring-projects/spring-data-commons/pull/2566)  in [3.0.0-M2](https://github.com/spring-projects/spring-data-commons/releases/tag/3.0.0-M2)

[2022-08-01 20:24] elefeint commented on #454
Still a valid issue; still loath to take on 3rd party GHA dependency just for e-mail. Not critical because we have oncall dashboards, but would be nice to have the whole team get failure notifications.

Related: https://github.com/orgs/community/discussions/18039

[2022-08-01 20:29] elefeint commented on #57
Obsolete due to the switch to Google style.

[2022-08-01 20:29] #57 closed

[2022-08-01 20:30] elefeint commented on #456
Obsolete; per upstream issue Unknown did not become retriable.

[2022-08-01 20:30] #456 closed

[2022-08-01 20:35] #652 closed

[2022-08-01 20:37] elefeint commented on #577
What should probably be done instead to address both test flakes and onboarding is to update the tests to rely on autocreated randomly named resources rather than competing for the same shared resources.

[2022-08-01 20:38] #641 closed

[2022-08-01 20:43] meltsufin commented on #160
Related to #737.

[2022-08-01 20:47] #156 closed

[2022-08-01 20:49] meltsufin commented on #405
Done here: https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/760

[2022-08-01 20:49] #405 closed

[2022-08-01 21:20] #692 closed

[2022-08-01 23:20] #507 closed

[2022-08-02 02:09] meltsufin commented on #406
Had been done.

[2022-08-02 02:09] #406 closed

[2022-08-02 02:14] meltsufin commented on #423
Resolved in https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/338.

[2022-08-02 02:14] #423 closed

[2022-08-02 03:07] waytoharish opened #1207 "pull a latest message only"
Hi Team,
I am working on one of the solution where I need to pull the latest message from the topic but I am not able to find a way for the same. Is there any way to do the same?
I am using -
`pubSubTemplate.pullAndConvert("topic-sub", 1, Boolean.TRUE, String.class)`

to pull the message . Whenever there is a new message it also return the old message to.

Any advice or that is not supported featu

[2022-08-02 13:16] zhumin8 commented on #907
Closing as part of cleanup. Please re-open if it's still relevant

[2022-08-02 13:44] zhumin8 commented on #1207
It sounds like you did not acknowledge so the older messages gets redelivered repeatedly.
Look for the code snippet [in our documentation here](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#example) for an example of acknowledging with the `pubSubTemplate.subscribe()`.
And this [link](https://cloud.google.com/pubsub/docs/subscriber#subscription-workflow) to

[2022-08-02 13:59] zhumin8 commented on #1124
Closing as part of cleanup.
Please re-open if it's still relevant.

[2022-08-02 14:58] #907 closed

[2022-08-02 15:29] #1124 closed

[2022-08-02 17:58] emmileaf commented on #231
Closing as expected behavior is observed and validated.

[2022-08-02 17:58] #231 closed

[2022-08-02 22:27] elefeint commented on #598
Closing due to lack of community interest.

[2022-08-02 22:27] #598 closed

[2022-08-03 04:27] waytoharish commented on #1207
I did acknowledge the message but still I can see multiple messages pulled which was already ack

 var message=pubSubTemplate.pull(TOPIC_NAME, 1, Boolean.TRUE);
        pubSubTemplate.ack(message);
        message.forEach(msg -> {
                System.out.println("Message ID is >>>>>>>>>"+msg.getPubsubMessage().getAttributesMap().get("messageId"));

        });
message length sometime greater th

[2022-08-03 14:20] emmileaf commented on #820
Closing as resolved, please re-open if needed.

[2022-08-03 14:20] #820 closed

[2022-08-03 15:21] zhumin8 commented on #1207
One possibility is that the acknowledge did not success, you can capture that by a try-catch block like the one in the sample code [here](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/e04f755f75c98619c11fde42106cff81e95f1540/spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-sample/src/main/java/com/example/WebController.java#L93-L101).
The other thing I noticed is that you already se

[2022-08-03 20:42] zhumin8 commented on #744
Closing as part of cleanup. Please re-open if it's still relevant.

[2022-08-03 20:42] #744 closed

[2022-08-04 19:51] zhumin8 commented on #982
Since issue lies in `jdbc-socket-factory-core` not this repo, closing this as part of cleanup. Please re-open if it's still relevant.

[2022-08-04 19:51] #982 closed

[2022-08-04 19:52] meltsufin commented on #745
Please re-open if it's still an issue.

[2022-08-04 19:52] #745 closed

[2022-08-04 19:54] meltsufin commented on #689
Closing due to lack of community interest.

[2022-08-04 19:54] #689 closed

[2022-08-05 00:54] meltsufin commented on #978
Closing. Please re-open if you have further questions.

[2022-08-05 00:54] #978 closed

[2022-08-05 14:09] #892 closed

[2022-08-05 16:29] elefeint commented on #520
Closing the issue since nobody else expressed interest in the timing feature being added to Spanner events, and measuring timing before/after specific `PubSubTemplate` calls will result in essentially the same timing. It might make more sense to expose built-in Spanner query statistics (#598), but nobody seemed interested in that either.

[2022-08-05 16:29] #520 closed

[2022-08-05 16:39] zhumin8 commented on #1170
Closing as part of cleanup. Please re-open if it's still relevant

[2022-08-05 16:39] #1170 closed

[2022-08-05 18:47] elefeint commented on #337
For polling, retries are supported by Spring Cloud Stream framework. For streaming, retries on Pub/Sub service communication are handled by gRPC retry settings. If business logic should be retried, customers should wrap it with their own retry logic.

I still think Spring Cloud Stream documentation is somewhat incorrect, in that only polling retries are handled by the framework, while streaming re

[2022-08-05 18:47] #337 closed

[2022-08-05 18:48] elefeint commented on #557
Closing due to lack of community interest.

[2022-08-05 18:48] #557 closed

[2022-08-05 18:53] elefeint commented on #450
We don't currently have this usecase on the roadmap, but also Spring Cloud GCP is not the right location for the GCF adapter issues.
If you are still interested in the feature, please open a new issue in https://github.com/spring-cloud/spring-cloud-function

[2022-08-05 18:53] #450 closed

[2022-08-05 22:32] elefeint commented on #627
@grant Does https://github.com/openzipkin-contrib/brave-propagation-w3c/tree/master/tracecontext meet this requirement?

Spring Cloud GCP's tracing support modifies built-in Spring Cloud Sleuth / Brave processing with Google Cloud-specific bits, but the W3C headers are standard. Do you know of anything Google Cloud specific that would require customization?

[2022-08-05 23:08] grant commented on #627
@elefeint I no longer work at the company, deferring to @matthewrobertson.

But that seems to meet the req, yes.

[2022-08-08 13:01] markusheiden opened #1214 "Please document release schedule"
**Is your feature request related to a problem? Please describe.**
The release schedule isn't documented anywhere.

I wonder when Spring Cloud GCP becomes Spring Boot 2.7 compatible.

**Describe the solution you'd like**
Something like https://calendar.spring.io/

**Describe alternatives you've considered**
Googling, but I found nothing.

[2022-08-08 13:37] elefeint commented on #1214
We have plans to align Spring Cloud GCP release schedule with the client libraries for next year. In the meantime, releases are on as needed basis.

Spring Cloud GCP is not officially compatible with Spring Boot 2.7 yet, although most things will work. There is one issue with R2DBC dependencies -- #1200.

We expect to release Spring Cloud GCP compatible with Spring Boot 2.7 in September. Once it's

[2022-08-08 14:49] markusheiden commented on #1214
At least Spring Config Server (using Spring Cloud Bus/Stream via PubSub) is not working either. Updates from the config server to the clients result in class incompatibilities on the client side. If you are interested in error details, I may provide them.

It would be nice to know the release dates upfront to plan and not need to look up the documentation every now and then. So for now thanks for

[2022-08-08 14:49] #1214 closed

[2022-08-08 14:57] elefeint commented on #1214
Yes, could you open a separate issue for the config server?

[2022-08-08 19:18] #1125 closed

[2022-08-08 19:54] #949 closed

[2022-08-08 20:03] #179 closed

[2022-08-08 20:26] zhumin8 commented on #1113
Closing as part of cleanup. Please re-open if it's still relevant.

[2022-08-08 20:26] #1113 closed

[2022-08-08 20:32] zhumin8 commented on #1055
FYI: relevant documentation [here](https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#spring-boot-starter-for-google-cloud-sql).
Closing as part of cleanup. Please re-open if it's still relevant.

[2022-08-08 22:51] elefeint commented on #433
I wonder if we should try implementing the Cloud SQL configuration as a custom `ConfigDataResource`, similarly to what @JoeWang1127 is doing with Secret Manager now. This would allow the datasource properties to be truly ordered together with the other `spring.config.import` property sources.

This would not help with refreshing credentials and such because of GoogleCloudPlatform/cloud-sql-jdbc-so

[2022-08-08 22:55] elefeint commented on #699
@zhumin8 Take a look at https://github.com/mvpzone/spring-cloud-gcp-dlp -- see if this is something that would fit in well with your autoconfig generator.

[2022-08-08 22:59] elefeint commented on #389
Obsolete; we decided not to use linkage checker on this project.

[2022-08-08 22:59] #389 closed

[2022-08-08 23:01] elefeint commented on #379
Spring Framework 6 includes native configurations without spring-native project. We won't be adding native compilation facilities to Spring Cloud GCP until the project moves to Spring Framework 6 next year. Once that happens, we'll be building native support on top of the existing client library support, which moved from the standalone repo to the individual client libraries.

[2022-08-08 23:01] #379 closed

[2022-08-09 08:48] wilkinsona commented on #1113
This is still relevant. IMO, it should be re-opened.

[2022-08-09 13:23] elefeint commented on #1113
The cycle was introduced in the user's code -- injecting MeterRegistry per Spring Boot documentation would avoid it.
There is nothing Firestore specific about this:

[2022-08-09 13:32] wilkinsona commented on #1113
Sorry. I guess I misunderstood [this comment](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/issues/1113?notification_referrer_id=NT_kwDOAA30-rEzNTg1NDM3MjY0OjkxNDY4Mg#issuecomment-1121238310) from @JakobFels.

[2022-08-09 13:45] JakobFels commented on #1113
The documentation also specifies that implementing the MeterBinder interface should also work.

[2022-08-09 14:00] elefeint commented on #1113
Right; because spring-data-jpa does not implement `RepositoryFactoryBeanSupport`. But spring-data-r2dbc does, so it makes for a good reproducer.

https://github.com/elefeint/FirestoreMetricsReproducer/tree/h2-reproducer shows the same issue with H2 R2DBC driver.

While implementing `MeterBinder` works in principle, when combined with `RepositoryFactoryBeanSupport`, and likely other event-publishin

[2022-08-09 14:36] wilkinsona commented on #1113
Thanks, @elefeint. I've re-opened the Spring Boot issue.

[2022-08-09 15:59] elefeint commented on #848
Showing spring and/or maven profiles is ultimately out of scope for Spring Cloud GCP, and is better handled with external samples and tutorials. Please reach out if you run into specific issues.

Since you are building containers, the easiest way to control logback configuration is to include different configuration files/folders depending on the container target environment.

For application-leve

[2022-08-09 16:08] elefeint commented on #893
I am going to close this issue -- there are enough examples of how Pub/Sub push users might accomplish trace reconstruction, and since most Java/Spring users use either polled or streaming pull, it is unlikely we will get to implementing it in the project.

[2022-08-09 16:08] #893 closed

[2022-08-09 16:11] elefeint commented on #939
We've looked into this some more, and the object-to-document functionality lives entirely in the client library. I will close this issue; please watch googleapis/java-firestore#996 for updates.

[2022-08-09 16:11] #939 closed

[2022-08-09 16:12] elefeint commented on #944
@zhumin8 Could you reproduce this and reason about what's going on here?

[2022-08-10 01:56] mmihira commented on #1203
Thanks for looking into it.

[2022-08-10 15:34] #627 closed

[2022-08-11 07:32] kamit-transient opened #1218 "Custom `loggingEventEnhancer` is not working for Spring-cloud-gcp-trace with `com.google.cloud.logging.logback.LoggingAppender`"
**Describe the bug**
I am using sing `spring-cloud-gcp-starter-trace` ,`spring-cloud-gcp-starter-logging` with version `2.0.11` using logback.

I need to add some additional data to logs at run time, for that I am providing `SpringCloudGcpLogEnhancer` which implements `LoggingEventEnhancer` but the problem is:

When I am using ` <loggingEventEnhancer>com.google.cloud.spring.logging.TraceIdLoggingE

[2022-08-11 15:50] elefeint commented on #1218
What happens when you provide multiple enhancers at the same time?

I would also try providing ehnancers under `<layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">`, and not directly under `<appender>`. Both might work, but we've tested with the latter -- see the [docs](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#log-via-console) for ex

[2022-08-12 11:52] kamit-transient commented on #1218
Both enhancers get called but in that case, logs are not published to GCP Log explorer from local.

I am not an expert on logabck part, so my question is, can this be done with the **API logging approach** as well?

For clarity, I am not using the `JsonConsoleAppender` rather I am using `LoggingAppender` with the below config:

[code]

[2022-08-15 12:55] AQS-DTheuke opened #1223 "Error sending metrics to stackdriver/gcp-monitoring"
**Describe the bug**

I get the following error from the metrics inside gcp/gke/kubernetes.

<details>
<summary>Stacktrace (click to expand)</summary>

[code]

</details>

I'm using the default configuration with:

[code]

We don't specify any custom metrics yet and only have spring's jdbc/tomcat/web-mvc metrics.

I assume this is some kind of configuration error, however since this is supposed to

[2022-08-15 13:00] AQS-DTheuke commented on #1223
How do I get the contents of the offending header? Maybe I can provide more information about the error then.

[2022-08-16 05:57] kamit-transient commented on #1218
I tried the suggested approach for API logging, but that's not working.

I think it's more likely a bug than a question.  Should you change the label to Bug then? @elefeint

[2022-08-16 08:19] CSC-Sendance opened #1224 "Firestore: Reference-field support (e.g. similar to @DBref from mongodb)"
**Is your feature request related to a problem? Please describe.**
Currently, there seems to be no way to tag fields as foreign keys / references, although firestore has an explicit "datatype" reference. Instead, all sub-objects CRUD operations are executed by value (e.g. the full object is inserted as a child element). References would be needed for real e.g. many-to-many relationships etc., thou

[2022-08-17 10:45] AQS-DTheuke commented on #1223
I found the solution. I have to add custom tags to the metrics to ensure that these are unique across services:

[code]

It would be nice if this could be added to the documentation, so its easier to find.

See also:
https://stackoverflow.com/questions/61500324/unable-to-publish-spring-boot-metrics-to-gcp-stackdriver/73386941#73386941

[2022-08-17 13:36] elefeint commented on #1223
Great find! Would you like to contribute a note to [metrics.adoc](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/docs/src/main/asciidoc/metrics.adoc) and  [metrics.md](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/docs/src/main/md/metrics.md)? Sorry, we temporarily have two mirrored documentation sets.

[2022-08-17 20:23] elefeint commented on #1224
Thanks! This makes sense as a new feature. Keeping it open.

[2022-08-18 14:37] RamonaMaria commented on #149
is this bug solved in the last release? what dependencies and versions should I use so that I don't have it anymore?
thanks

[2022-08-18 14:39] RamonaMaria commented on #955
is this bug solved in the last release? what dependencies and versions should I use so that I don't have it anymore?
thanks

[2022-08-18 14:44] elefeint commented on #955
@RamonaMaria A workaround was provided in [this comment](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/issues/955#issuecomment-1048101815).
Work on supporting `spring.config.import`, which will allow ordering of different configuration sources, is ongoing and expected to complete by next release.

[2022-08-18 14:44] #581 closed

[2022-08-18 15:24] RamonaMaria commented on #955
Thanks for the update. I saw that solution and implemented it but unfortunately I still get that error:`AnnotationConfigApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'defaultFeignClientConfiguration': Injection of autowired dependencies failed; nested exce

[2022-08-18 15:41] elefeint commented on #955
@RamonaMaria Could you open a new issue, and provide a minimal reproducible issue?

[2022-08-18 16:26] RamonaMaria opened #1229 "Google Secret Manager: unable get value from secret manager with Spring Boot"
I followed the [documentation]( https://docs.spring.io/spring-cloud-gcp/docs/current/reference/html/secretmanager.html#_secret_manager_property_source ) and the bootstrap.yml file looks like this:

[code]
 and the application.yml file looks like this:
[code]
I followed the documentation https://docs.spring.io/spring-cloud-gcp/docs/current/reference/html/secretmanager.html#_secret_manager_property_

[2022-08-18 18:50] RamonaMaria opened #1230 "unable to connect to postgresql instance on google cloud from a spring boot app"
I'm trying to connect to a postgresql instance on google cloud from a spring boot application, using beans.

I created a bean:

[code]
and the application.yml file looks like this:

[code]
but I am getting this error:

`could not obtain connection to query metadata","stack_trace":"o.p.u.PSQLException: The server requested password-based authentication, but no password was provided by plugin null\n

[2022-08-18 20:05] elefeint commented on #1230
You might find [authentication with IAM](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#cloud-sql-iam-database-authentication) both more convenient and more secure. If a password is used, it can be retrieved from external secret stores such as [Secret Manager](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#secret-manag

[2022-08-18 20:12] elefeint commented on #1229
@JoeWang1127 Can you try to reproduce this scenario with the information given?

[2022-08-19 12:15] breun commented on #1200
We noticed that there is also an issue with `r2dbc-pool:0.9.0.RELEASE`, which is currently provided by Spring Boot 2.7.3 via `r2dbc-bom:Borca-SR1`, which [causes all connections to be evicted immediately](https://github.com/r2dbc/r2dbc-pool/issues/129). `r2dbc-pool:0.9.1.RELEASE` fixes this, but that version is not yet managed via an `r2dbc-bom` release. I don't know if this is a temporary overrid

[2022-08-19 16:21] elefeint commented on #1218
I think I know what's going on. For console-based logging, our documentation instructs users to add enhancers as `<loggingEventEnhancer>` under `StackdriverJsonLayout`.

However, you are using API logging, for which there is no enhancer documentation on Spring Cloud GCP. Looking at the [Cloud Logging Logback appender](https://github.com/googleapis/java-logging-logback#about-cloud-logging-logback-a

[2022-08-19 19:39] elefeint commented on #1218
I looked at it some more for documentation, and both `<loggingEventEnhancer>` and `<loggingEnhancer>` are valid configurations for the logback appender. However,  `<loggingEventEnhancer>`  classes must implement `com.google.cloud.logging.logback.LoggingEventEnhancer`, and `<loggingEnhancer>` must implement `com.google.cloud.logging.LoggingEnhancer`; otherwise the enhancer will be ignored [here](ht

[2022-08-21 10:07] pg30 opened #1236 "internal method not found error while using spring-cloud-gcp-pub-sub-stream-binder in spring boot 2.6.1"
I am trying to integrate spring-cloud-gcp-pub-sub-stream-binder in my spring boot project to consume events from gcp pub sub topic and getting the below error while running the project.
[code]
I am using spring boot v2.6.1 and my dependencyManagement

[code]
and my related dependencies

[code]
I think it's a version compatibility issue where PubSubChannelProvisioner is trying to call a method in T

[2022-08-21 21:17] JoeWang1127 commented on #1229
@RamonaMaria  I created a demo project in [here](https://github.com/JoeWang1127/demo-cloud-sql) from which I imported the database username and password from Secret Manager. I hope this can solve your problem.

[2022-08-22 13:50] zhumin8 commented on #1236
In `dependencyManagement`, `libraries-bom` version are already specified in `spring-cloud-gcp-dependencies` [here](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/96619cc5df61d1770005eac6b41a2376b8fbb6eb/spring-cloud-gcp-dependencies/pom.xml#L32), so you do not need to specify it separately. In your case, you used a `3.3.0` version for `libraries-bom` where the current version is `26.

[2022-08-22 14:04] #651 closed

[2022-08-22 14:05] #637 closed

[2022-08-22 14:09] #1218 closed

[2022-08-23 07:38] RamonaMaria commented on #1229
@elefeint @JoeWang1127 thank you very much for your help :)

[2022-08-23 07:41] RamonaMaria commented on #1230
@elefeint - Thanks for the explanations, very helpful!

[2022-08-23 08:57] pg30 commented on #1236
Thanks for your help @zhumin8 , it worked

[2022-08-23 08:57] #1236 closed

[2022-08-23 09:15] AQS-DTheuke commented on #1223
Done: https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/1237

[2022-08-23 13:46] #1223 closed

[2022-08-24 18:11] #149 closed

[2022-08-24 18:19] JoeWang1127 commented on #1184
Solved in https://github.com/GoogleCloudPlatform/spring-cloud-gcp/pull/1204

[2022-08-24 18:19] #1184 closed

[2022-08-25 19:34] mpeddada1 commented on #1230
@RamonaMaria glad you found @elefeint's overview to be useful! Are we okay with closing this issue?

[2022-08-26 12:13] pg30 opened #1240 "error handling for spring-cloud-gcp-pubsub-stream-binder integration in webflux"
I am trying to integrate gcp pubsub in my webflux project using spring cloud stream.
this my application.yml
[code]
and my sink
[code]
the above code works fine when messages are getting processed without any exceptions but when I publish a message which contains "710" in objectId (as defined in the exception) and listener throws exception all subsequent messages are also nacked automatically thro

[2022-08-27 02:20] JoeWang1127 commented on #433
@mzeijen @limkinZero @elefeint I created a demo project in [here](https://github.com/JoeWang1127/demo-sql-kube). It can be treated as a workaround of this issue.

[2022-08-29 13:38] RamonaMaria commented on #1230
@mpeddada1 yeah, it can be closed. Thanks

[2022-08-29 14:26] #1230 closed

[2022-08-30 14:56] JoeWang1127 commented on #213
Just want to be more clear, what's wrong about `${${application.secret} : DEFAULT_VALUE}`?

[2022-08-31 01:08] varapriya commented on #1240
call basicAcknowledgeablePubsubMessage.nack() if there is an exception , don't throw it .

if(objectId.contains("710")){
                        basicAcknowledgeablePubsubMessage.nack();
                    }

[2022-08-31 12:07] pg30 commented on #1240
thanks for replying @varapriya
but acc to documentation ACK and AUTO_ACK modes should automatically nack the messages in case of any error thrown.
then why do we need to manually nack it.

[2022-09-01 14:49] elefeint commented on #213
@JoeWang1127 Would `application.secret` be an intermediate variable pointing to `sm://actual-secret`? I think there was also a problem where if `sm://actual-secret` did not exist, we threw an exception -- could you check what happens?

[2022-09-01 15:40] elefeint commented on #1240
ACK results in automatic nacking, while AUTO_ACK does not ([refdoc](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#acknowledging-messages-and-handling-failures)).

But the problem here has more to do with the reactive pipeline. @varapriya is correct that nacking instead of throwing would avoid this problem. The reason is that when an exception is thrown insi

[2022-09-01 16:17] JoeWang1127 commented on #213
I did some research on the sample [secret manager project](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/tree/main/spring-cloud-gcp-samples/spring-cloud-gcp-secretmanager-sample).

- `${application.secret:DEFAULT}` will be resolved to a secret value if `application.secret` is a valid property (i.e., a property `application.secret=${sm://application-secret}` exists in property file); othe

[2022-09-01 16:26] elefeint commented on #213
Right, but what happens if `sm://application-secret` does not exist in Secret Manager?

[2022-09-02 12:28] AQS-DTheuke opened #1244 "Improve the visibility of the official documentation link"
**Describe the bug**

I had trouble locating the link to the official documentation in the readme.
I'm unsure on how to address the issue since it is related to personal perception.
It is 100% okay, if you disregard this issue. I just wanted to bring this to your attention.

**Sample**

The projects README starts with a link to spring's project page, which basically tells me, that it is no longer

[2022-09-02 17:58] eddumelendez opened #1245 "Add data test annotations for datastore, firestore and spanner"
**Is your feature request related to a problem? Please describe.**
Make easy to slice test using datastore, firestoee and spanner

**Describe the solution you'd like**
Looking into [testing-code-that-uses-cloud-spanner](https://github.com/googleapis/google-cloud-java/blob/master/TESTING.md#testing-code-that-uses-cloud-spanner) I think the project can provide the infrastructure with @DataSpannerTes

[2022-09-03 07:36] pg30 commented on #1240
@elefeint I understood your point about the stream being closed.
are there any samples about implementing it in the correct way because even if I use ```map/flatMap``` and return ```Mono.error()``` the stream will get closed after that unless error handling is done upstream (gcp lib in case) and without ```.then()``` I am not able to convert the stream to ```Mono<Void>```

[2022-09-06 13:33] elefeint commented on #1240
Right, returning error is also a terminal operation. You can either avoid any errors in the reactive code, or try switching to [imperative style](https://spring.io/blog/2019/10/17/spring-cloud-stream-functional-and-reactive#imperative-or-reactive) of Spring Cloud Stream. The [Sink example in this project](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/tree/main/spring-cloud-gcp-samples/sp

[2022-09-06 14:05] elefeint commented on #1245
The old docs page does not exist anymore, but do you mean [actual emulator startup and the separate gcloud configuration](https://cloud.google.com/spanner/docs/emulator#installing_and_running_the_emulator)?

It continues to be unclear to me that Spring Cloud GCP is the right layer for those improvements.

[2022-09-06 21:10] #213 closed

[2022-09-08 10:00] mcaa90 opened #1255 "PubSub batch settings"
Hello,

I am using the pubsub library to send messages with this version<spring-cloud-gcp.version>3.2.0</spring-cloud-gcp.version>
i want to use the batch seetings but when i see the code in the method that publish the PubSubMessage a new publisher is created each time we publish a message so i want to know how the batch is working please ?

[2022-09-08 13:28] elefeint commented on #1255
Publishers are [cached per-topic](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/v3.2.0/spring-cloud-gcp-pubsub/src/main/java/com/google/cloud/spring/pubsub/support/CachingPublisherFactory.java#L44).

To enable batching, all of batching settings must be set to above defaults:
- `spring.cloud.gcp.pubsub.publisher.batching.enabled`
- `spring.cloud.gcp.pubsub.publisher.batching.element-

[2022-09-08 13:31] mcaa90 commented on #1255
Thanks for the answer but my question is about how does it work because in the pubSubTemplate a new publisher is created each time with these settings
if i look at the google documentation the batching is used when creating one publisher then do many calls to publish method not a publisher for each one
Thank you

[2022-09-08 13:35] mcaa90 commented on #1255
Thank you for the answer, and where/when the shutdown of this publisher is called please ?

[2022-09-08 13:45] elefeint commented on #1255
They are currently not shut down automatically (see #864 for details), but as you acquire a `Publisher` object when calling `createPublisher()`, your application can shut it down.

[2022-09-08 13:49] #1255 closed

[2022-09-08 14:32] 2021H1030039G commented on #1244
Can I contribute to this issue?

[2022-09-08 15:13] mpeddada1 commented on #1244
Thank you for offering to help! Please feel free to open an PR and we will take a look.

[2022-09-08 15:21] elefeint commented on #1207
@2021H1030039G This is very unlikely to be an actual issue in Spring Cloud GCP

@waytoharish The behavior you are seeing could be due to a couple of reasons:
1) a large backlogs of small messages that take a while to process ([this documentation](https://cloud.google.com/pubsub/docs/pull#streamingpull_dealing_with_large_backlogs_of_small_messages) is for streaming pull, but if you are pulling more

[2022-09-08 17:28] 2021H1030044G commented on #874
Can I contribute in the above issue?

[2022-09-08 17:29] 2021H1030044G commented on #673
Can I contribute in the above issue?

[2022-09-08 17:30] 2021H1030044G commented on #737
Can I contribute in the above issue?

[2022-09-08 17:42] elefeint commented on #874
@2021H1030044G You can work on this one. Out of curiosity, are you in the same college class with @2021H1030044G?

Please don't comment on multiple issues with identical comments; it looks like spam.

[2022-09-08 17:43] elefeint commented on #673
@2021H1030044G #874 is a better fit for a new contributor.

[2022-09-08 17:43] elefeint commented on #737
@2021H1030044G #874 is a better fit for a new contributor.

[2022-09-08 17:44] 2021H1030044G commented on #874
Yaa, we are from same college. We have to do a project for one of our
course.

Thanks & Regards,
Deepika Makhija

On Thu 8 Sep, 2022, 11:12 PM Elena Felder, ***@***.***> wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or legally privileged information.
Any

[2022-09-08 17:48] elefeint commented on #874
Makes sense. In general, sticking to issues annotated as [good first issue](https://github.com/topics/good-first-issue) will yield better results.

[2022-09-08 17:55] jjjjjjkkkk commented on #875
I'm interested in contributing to this issue. Can I do that? Also before I start working it, would you mind sparing your time explaining what the fix will be like and pointing me to some resources to get started.

[2022-09-08 17:55] 2021H1030039G commented on #874
Can you please suggest us some resource to get started with the work on
these issue.

On Thu, Sep 8, 2022, 23:18 Elena Felder ***@***.***> wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or legally privileged information.
Any review, retransmission, dissem

[2022-09-08 17:56] elefeint commented on #874
What additional information do you need that's not in the issue description?

[2022-09-08 17:57] elefeint commented on #875
You can work on the issue, but since the issue description is a list of exactly what needs to be done -- what additional information were you looking for?

[2022-09-08 17:57] 2021H1030044G commented on #874
Yeah that will be nice but there's weren't any issues labeled as good first
issue.

Thanks for suggestions.

Thanks & Best Regards,
Deepika Makhija

On Thu 8 Sep, 2022, 11:18 PM Elena Felder, ***@***.***> wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or

[2022-09-08 18:04] elefeint commented on #875
Okay, I'll give this a try -- checkstyle is a set of validations that ensure code quality on a project. In case with this project, the codebase switched from Spring style to Google style a couple of years ago. As a result of that, we left some code quality technical debt in the form of these disabled checkstyle rules.

The first thing you'd want to do is check out the project source code -- `git c

[2022-09-08 18:05] elefeint commented on #874
Okay, I'll give this a try -- checkstyle is a set of validations that ensure code quality on a project. In case with this project, the codebase switched from Spring style to Google style a couple of years ago. As a result of that, we left some code quality technical debt in the form of these disabled checkstyle rules.

The first thing you'd want to do is check out the project source code -- `git c

[2022-09-08 18:28] Jasleen-Kaur-h20210054 commented on #875
Thanks a lot for this great detailing. I will try resolving this issue.

On Thu, Sep 8, 2022 at 11:34 PM Elena Felder ***@***.***>
wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or legally privileged information.
Any review, retransmission, dissemination,

[2022-09-08 19:33] 2021H1030039G commented on #534
Can I contribute to this issue?

[2022-09-08 19:36] 2021H1030039G commented on #1024
Can I contribute to this issue?

[2022-09-08 19:55] elefeint commented on #534
@2021H1030039G This isn't the right difficulty level for a first-time contributor, sorry. I recommend browsing issues marked with "good first issue" -- https://github.com/search?q=%22good+first+issue%22

[2022-09-08 19:58] elefeint commented on #1024
@2021H1030039G This isn't the right difficulty level for a first-time contributor, sorry. I recommend browsing issues marked with "good first issue" -- https://github.com/search?q=%22good+first+issue%22

[2022-09-12 11:36] Synthx opened #1257 "NoSuchMethodError in com.google.pubsub.v1.TopicName.ofProjectTopicName"
**Describe the bug**
Cannot publish message on topic, got an NoSuchMethodError : com.google.pubsub.v1.TopicName.ofProjectTopicName

**Stacktrace**
[code]

**Code**
This is the code I use to publish message :
[code]

where pubSubTemplate is injected by spring

**Dependencies**
[code]

I had many other dependencies so I only paste interesting code

[2022-09-12 13:55] CElRey opened #1258 "https proxy unsupported"
Hi, i would like to use a forward proxy in https to call pubsub api. But it doesn't work in https mode.
I can't find a way to make it work

[2022-09-12 13:56] elefeint commented on #1257
This sounds like a version incompatibility between Spring Cloud GCP and the Pub/Sub client libraries. Normally, `com.google.cloud:spring-cloud-gcp-dependencies` BOM specifies the version of the client libraries.

Are you manually setting the version of `com.google.cloud:google-cloud-pubsub`?

[2022-09-12 14:00] elefeint commented on #1258
This isn't something that's specific to Spring Cloud GCP, or even Pub/Sub. You can try opening a support case, or asking on Stack Overflow -- but I'd recommend including a great deal more detail about what you've tried and what the observed output was (stack traces, network logs).

[2022-09-12 14:00] #1258 closed

[2022-09-12 19:55] #1201 closed

[2022-09-13 19:13] BiatBang opened #1263 "Override field name in subclass"
**Describe the solution you'd like**

We have 2 kinds under one namespace, one is `cat`, one is `dog`. In the cat kind, there's a column `catName` and in the dog kind, there's a column `dogName`.

In the java code, we have 3 classes.
[code]
[code]
[code]
For now, when we call `datastoreTemplate.save(cat)`, the `name` column in datastore will be `name`. We would like to achieve this: when using `da

[2022-09-13 21:27] #864 closed

[2022-09-14 16:22] elefeint commented on #1263
Have you tried having java field names corresponding to the correct Datastore column name (`catName`, `dogName`), and then overriding the `getName()` getter for subtypes to return the correct column?

[code]

Ultimately, modifying column names prior to insertion is not a supported scenario.

[2022-09-14 21:10] BiatBang commented on #1263
Thanks for the reply. In this case, we will lose the purpose of having a common field of `name` in the code. Because we have lots of classes using Animal.setName() / Animal.getName(). Also if we do it in this way, here will be both `name` and `catName` columns in that kind. We would like to have only one specific `catName` column.

With regard to `Ultimately, modifying column names prior to insert

[2022-09-16 14:36] JoeWang1127 commented on #1055
@ablx Hi, I'll update the docs to include additional steps to connect to cloud sql instance using IAM authentication. You can also check out this [demo project](https://github.com/JoeWang1127/cloudsql-iam-demo) for more information.

[2022-09-18 21:15] Mowee commented on #740
@ddixit14 @elefeint Can you provide me with some more informations. Because I seem to be unable to solve this issue. I've thought by manually providing a NoCredentialsProvider for my via a TestConfiguration this issue could be solved but this does not seems to be the case. Even providing a custom SecretManagerServiceClient does not solve my issue.

I've created a sample repository: https://github.

[2022-09-19 12:57] elefeint commented on #740
@Mowee please open a new issue describing what you are trying to achieve. This issue was for an internal test infrastructure, which should not affect you unless you are working on Spring Cloud GCP project.

[2022-09-19 20:17] Mowee commented on #740
@elefeint Thank you, I will do.

[2022-09-25 18:07] dosomder opened #1270 "Datastore: not equals filter support"
It seems like datastore itself does support not equals filter: https://cloud.google.com/datastore/docs/concepts/queries

If I try to use a not equal filter in my Repository
[code]

I get the following exception
[code]

Is it possible to add NOT_EQUALS support?

[2022-09-26 14:04] JoeWang1127 commented on #1270
@dosomder Hi, from the [docs](https://cloud.google.com/datastore/docs/concepts/queries#datastore-datastore-basic-query-java) you mentions, I can see there is a `NOT_EQUAL` filter, anything wrong with that?

[2022-09-26 14:15] JoeWang1127 commented on #1270
@dosomder Hi, we don't support `NOT_EQUAL` for now, please see [here](https://googlecloudplatform.github.io/spring-cloud-gcp/reference/html/index.html#query-methods-by-convention-2) for for information.

As an alternative, you can combine `greater_than` and `less_than` to do the job.

[2022-09-28 15:18] zhumin8 opened #1271 "kms credentials configuration property does not work as documented"
Configuration property [`spring.cloud.gcp.kms.credentials.location`](https://googlecloudplatform.github.io/spring-cloud-gcp/3.3.0/reference/html/index.html#configuration-12) does not work.  Reproduce by setting this property in the sample app and observe log output.
Cause: the [`CredentialsProvider`](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-autoconfigure/s

[2022-09-28 22:41] wallind opened #1273 "chore: broken Cloud SQL IAM docs link"
**Describe the bug**
Simple documentation mistake. Broken link which leads to a 404 page in the follow spots (first paragraph "[IAM database authentication for PostgreSQL](https://cloud.google.com/sql/docs/postgres/authentication:)"):
- https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/docs/src/main/asciidoc/sql.adoc#cloud-sql-iam-database-authentication
- https://github.com/Google

[2022-09-29 17:07] #1273 closed

[2022-10-04 16:13] danielalejandrin opened #1276 "No Converter found for ByteString to String"
**Describe the bug**
When I'm using spring cloud openfeing with a custom configuration that has injected properties values with @Value annotation that are obtained from google secret manager I'm getting the following error
 `nested exception is org.springframework.core.convert.ConverterNotFoundException: No converter found capable of converting from type [com.google.protobuf.ByteString$LiteralByte

[2022-10-04 17:18] JoeWang1127 commented on #1276
Hi @danielalejandrin, there's an [example project](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/tree/main/spring-cloud-gcp-samples/spring-cloud-gcp-secretmanager-sample) showing how to export secret values from GCP Secret Manager. Please see what properties are needed in `application.properties` and `bootstrap.properties` (see [here](https://googlecloudplatform.github.io/spring-cloud-gc

[2022-10-05 18:11] #1271 closed

[2022-10-05 19:53] danielalejandrin commented on #1276
Hi @JoeWang1127  thank you for your answer. I´m following the example in the official documentation o [spring cloud openfeing](https://docs.spring.io/spring-cloud-openfeign/docs/current/reference/html/) so I'm using the way of creating beans to override the default configuration of a feign client, if I annotate this custom configuration with @Configuration or @Component it will be applied to all f

[2022-10-06 04:08] eddumelendez commented on #1245
I mean having annotations to be used for slice tests in order to automatically load autoconfiguration for data repositories such as datastore, firestore and spanner

[This](https://gist.github.com/eddumelendez/2a305ea223b4fd34aa69a27d667f4678) is what is required right now in order to achieve it.

See https://docs.spring.io/spring-boot/docs/1.5.2.RELEASE/reference/html/boot-features-testing.html#b

[2022-10-06 12:24] damienburke commented on #1276
i am getting this exact error too

[2022-10-06 14:35] dosomder opened #1279 "Datastore: spring-native support"
Is there any support for spring-native when using datastore and its DatastoreRepository?

I have declared my repository like this:
[code]

Then I have another class that uses the repo:
[code]

While the project builds using spring-native, on start up I get the following exception:

[code]

In the file build/generated/resources/aotMain/MAIN-INF/spring.components, there is the following entry:
[code

[2022-10-06 15:36] elefeint opened #1280 "Try to upgrade to Spring Boot 3.0"
Inventory all issues.

Release notes: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-3.0-Release-Notes

[2022-10-06 15:58] JoeWang1127 commented on #1276
Hi @danielalejandrin and @damienburke, the latest version of [this project](https://github.com/GoogleCloudPlatform/spring-cloud-gcp) solves this problem and you don't need to define a converter, but it's not released yet. My suggestion is you can keep the workaround for now and change it when we official release the next version.

[2022-10-06 17:09] JoeWang1127 commented on #1245
Hi @eddumelendez as your [PR](https://github.com/spring-attic/spring-cloud-gcp/pull/2416) is outdated, could you submit a new PR for your proposal?

[2022-10-09 12:32] dosomder commented on #1279
Hi @elefeint

I am using spring-native and the supported spring-boot version, still the exception from the first post appears

[2022-10-10 12:57] elefeint commented on #1279
Thanks for confirming! We have plans to look into native compilation compatibility after Spring Boot 3.0 comes out, but it definitely won't be supported until 2023.

[2022-10-11 11:07] dosomder commented on #1279
Cool, looking forward to it because the start up time at the moment is really bad

[2022-10-12 09:02] nitin065 opened #1289 "3.4.0 version release date?"
Hi,

`spring.config.import` feature is part of 3.4.0, which will help us reduce adding our own converter.
May I know when is the release date?

[2022-10-12 09:35] MPLockdown opened #1291 "Inconsistent spring-cloud-gcp-dependency BOM"
**Describe the bug**
I was struggling to enable dependency management in gradle project for my client.
As an example - this did not worked ( sample part from build.gradle):
[code]

I had to plainly use version for each `implementation` statement in `build.gradle`. Simply dependency management bom `com.google.cloud:spring-cloud-gcp-dependencies` did not provides `org.springframework.cloud` artifact

[2022-10-12 12:30] elefeint commented on #1289
We are planning for next week.

[2022-10-12 13:39] elefeint commented on #1291
[code]

These two lines are in conflict -- version 1.2.x is very old and [unsupported](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/SECURITY.md). There is no way it would be compatible with other dependencies at the modern version 3.3.0 -- package names have changed between 1.x and 2.x.

Spring Cloud GCP BOM (`spring-cloud-gcp-dependencies`) [manages versions](https://repo.mav

[2022-10-12 18:59] elefeint opened #1292 "Create GHA job to run integration tests against Spring Boot 2.6"
Now that the codebase is moving to Spring Boot 2.7 in #1185, it may be worth running the integration tests to catch any potential breakages.

[2022-10-13 14:25] breun commented on #1280
Hi @elefeint! Can you already say something about roughly when you expect/intend to release a version of Spring Cloud GCP which supports Spring Boot 3 and Spring Cloud 2022?

[2022-10-13 17:36] elefeint commented on #1200
To avoid breaking existing users who are still on Spring Boot 2.6, we won't be changing the version of Postgres R2DBC driver until the next major release of Spring Cloud GCP (that will target Spring Boot 3.0).

You are probably excluding the old driver and including the new one already, but #1185 adds documentation to do so for Spring Boot 2.7 users.
The pool fix is by now released in Spring Boot

[2022-10-13 17:38] breun commented on #1280
Ok, thanks. We're very eager to provide Spring Boot 3.0 to our colleagues as soon as we can, but we depend on Spring Cloud GCP as well, so we'll need to be a bit more patient then. Will there be milestone releases and/or release candidates for Spring Cloud GCP users that want to try things out early?

[2022-10-13 18:35] elefeint commented on #1280
No, sorry -- we stopped doing release candidates when we left the spring-cloud organization.

[2022-10-13 20:46] elefeint commented on #1015
Addressed in #1219 .

[2022-10-13 20:46] #1015 closed

[2022-10-14 17:02] elefeint opened #1294 "Disconnect from spring-cloud-dependencies-parent"
`spring-cloud-gcp-dependencies` still lists `spring-cloud-dependencies-parent` as its parent. This is a relic from the time when this project was under `spring-cloud` organization.

There are a couple of things that need to be done:
1) Remove the `<parent>` section in the [`spring-cloud-gcp-dependencies`](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-dependenci

[2022-10-17 04:06] nitin065 commented on #1289
3.4.0 version is available. Hence closing the ticket.

[2022-10-17 04:06] #1289 closed

[2022-10-17 06:27] nitin065 opened #1296 "Convertor for ByteString to String is not working in v3.4.0"
**Describe the bug**
I have added to build.gradle to use v3.4.0 and added `spring.config.import property: sm://` and set `spring.cloud.gcp.secretmanager.legacy: false`.

But still, I m getting `No converter found capable of converting from type [com.google.protobuf.ByteString$LiteralByteString] to type [java.lang.String]`.

I have tried to debug the code and have following observation:

[GenericCo

[2022-10-17 13:03] elefeint commented on #1296
@JoeWang1127 Could you take a look?

[2022-10-17 13:36] JoeWang1127 commented on #1296
@nitin065 Hi, could you create a demo project showing the error? In the mean time, have your checked the [sample project](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/tree/main/spring-cloud-gcp-samples/spring-cloud-gcp-secretmanager-sample) in our repo?

[2022-10-17 16:01] VitorBittencourt opened #1297 "Firestore: No qualifying bean of type 'org.springframework.transaction.TransactionManager' available"
**Describe the bug**
`org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type 'org.springframework.transaction.TransactionManager' available`

As soon as I upgraded some dependencies the @Transactional annotation stopped working.
Original working versions are:
[code]
+
[code]

Tried with some different versions combinations. Latest with:
[code]
+
[code]
Since ht

[2022-10-17 16:13] fiidim opened #1298 "GcsFileInfo.isDirectory Doesn't Accurately Reflect Resource Type"
**Describe the bug**
`GcsFileInfo.isDirectory` field doesn't accurately reflect whether or not the read file is a directory or not.  It doesn't look like the field is populated in the `BlobInfo`, so the only way to accurately decide whether or not it's a directory is to check for a trailing slash, and a size of 0.   If neither are palatable, then perhaps the field should be removed, or marked as U

[2022-10-17 20:24] elefeint commented on #1298
How are you getting `GcsFileInfo` objects -- are you using one of the Spring Integration adapters? Which one?

Could you create a minimal reproducible sample of the issue?

[2022-10-17 20:53] fiidim commented on #1298
I'm using the samples provided in this repository as a base -> [spring-cloud-gcp-integration-storage-sample](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/main/spring-cloud-gcp-samples/spring-cloud-gcp-integration-storage-sample/src/main/java/com/example/GcsSpringIntegrationApplication.java).

The `GcsFileInfo` I pulled from the `MessageHeaders()` from `file_remoteFileInfo`, as well

[2022-10-18 03:40] nitin065 commented on #1296
@JoeWang1127 Yes, I did. Only difference is I am not using SecretManagerTemplate class. I will try to come up with a sample project.

[2022-10-18 11:02] nitin065 commented on #1296
@JoeWang1127 I have found the root cause. Basically we have following code present:
`PropertySourcesPlaceholderConfigurer configurer = new PropertySourcesPlaceholderConfigurer();`
` configurer.setIgnoreUnresolvablePlaceholders(true);`

And [here](https://github.com/spring-projects/spring-framework/blob/1439c5bb8fa5ca8752b4d81232c8114aa8a376f4/spring-context/src/main/java/org/springframework/contex

[2022-10-18 13:22] elefeint commented on #1296
@spencergibb @philwebb Have you seen issues before where custom conversion service changes were lost in `ignoreUnresolvablePlaceholders` mode? We've been using an `EnvironmentPostProcessor` [to register `ByteString` converters](https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/58b9fb9e034c7208df5398facbc96c5e8cdae916/spring-cloud-gcp-autoconfigure/src/main/java/com/google/cloud/spring/a

[2022-10-18 15:48] fiidim commented on #1298
The simplest reproduction is to have a GCS bucket with a folder, and use an `@InboundChannelAdapter` like your example.
[code]

If you watch the files arrive via the filter, you will see the `isDirectory` flag isn't set.

[2022-10-18 17:50] JoeWang1127 commented on #1296
Hi @nitin065, could you tell me more about why you need to create a `PropertySourcesPlaceholderConfigurer` bean instead of using the default one.
I forked your project and created this [PR](https://github.com/nitin065/gmstest/pull/1/files) to show that the project works without this bean.

[2022-10-18 20:51] zhumin8 commented on #1298
Thanks for providing the reproduction steps. I was able to observe the same result with an empty folder. I also did the same test with cloud-storage directly, and results are the same. According to [javadoc here](https://cloud.google.com/java/docs/reference/google-cloud-storage/latest/com.google.cloud.storage.BlobInfo#com_google_cloud_storage_BlobInfo_isDirectory__) there are some limitation on th

[2022-10-18 22:20] philwebb commented on #1296
I tried to look at the sample but it fails with "class path resource [<removed>] cannot be opened because it does not exist". I guess I need to change the configuration? I can't really tell what the converter is used for so I don't know if it's an ordering issue or something else. If you have instructions on how to replicate the problem I might be able to look further.